openapi: 3.1.0
info:
  title: Alga PSA API
  version: 0.1.0
  description: OpenAPI specification generated from registered route metadata.
servers:
  - url: https://algapsa.com
    description: Production
  - url: http://localhost:3000
    description: Local development
tags:
  - name: Admin
  - name: Assets
  - name: Auth
  - name: Billing
  - name: Boards
  - name: Chat
  - name: Documents
  - name: Email
  - name: Extension Gateway
  - name: Extension Installs
  - name: Files
  - name: Integrations - QuickBooks
  - name: Products
  - name: Projects
  - name: Service Catalog
  - name: Service Categories
  - name: Service Types
  - name: Services
  - name: SoftwareOne Extensions
  - name: Statuses
  - name: System
  - name: Telemetry
  - name: assets
  - name: auth
  - name: automation
  - name: billing-analytics
  - name: categories
  - name: client-contract-lines
  - name: clients
  - name: contacts
  - name: contract-line-templates
  - name: contract-lines
  - name: contracts
  - name: ext-bundles
  - name: extensions
  - name: feature-access
  - name: feature-flags
  - name: financial
  - name: integrations
  - name: invoices
  - name: meta
  - name: permission-checks
  - name: permissions
  - name: projects
  - name: provisioning
  - name: quickbooks
  - name: quotes
  - name: rbac
  - name: roles
  - name: schedules
  - name: tags
  - name: teams
  - name: test-auth
  - name: tickets
  - name: time-entries
  - name: time-periods
  - name: time-sheets
  - name: user
  - name: user-roles
  - name: users
  - name: webhooks
  - name: workflows
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Auth.js JWE session token
    SessionCookieAuth:
      type: apiKey
      in: cookie
      name: authjs.session-token
      description: Auth.js session cookie. In secure production deployments the cookie
        may be named __Secure-authjs.session-token; in local development it may
        include a port suffix.
    WebhookSignatureAuth:
      type: apiKey
      in: header
      name: x-webhook-signature
      description: HMAC-SHA256 signature generated with ALGA_WEBHOOK_SECRET. POST
        signs the raw JSON body. GET signs the string GET:<tenant_id>.
    GooglePubSubJWT:
      type: http
      scheme: bearer
      bearerFormat: Google Pub/Sub JWT
      description: Google-signed JWT from Pub/Sub push. The webhook validates the
        audience against the webhook URL and checks the issuer/service account
        against tenant Google configuration.
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
          required:
            - code
            - message
      required:
        - error
    PlaceholderObject:
      type: object
      properties: {}
    OAuthCallbackHtmlResponse:
      type: string
      description: HTML popup callback page. The page posts a JSON oauth-callback
        message to window.opener or window.parent via postMessage, then attempts
        to close itself.
    OAuthCallbackQuery:
      type: object
      properties:
        code:
          type: string
          description: OAuth 2.0 authorization code. Required unless the provider returned
            error.
        state:
          type: string
          description: Base64-encoded JSON state object generated when the OAuth flow was
            initiated. It carries tenant context, providerId, redirectUri,
            timestamp, and nonce values used to complete the callback.
        error:
          type: string
          description: OAuth error code returned by the provider, such as access_denied.
        error_description:
          type: string
          description: Human-readable OAuth error description returned by the provider.
    AuthSessionUser:
      type: object
      properties:
        id:
          type: string
          description: User identifier from the users.user_id record.
        email:
          type: string
          format: email
          description: User's email address.
        name:
          type: string
          description: User's display name, usually first_name plus last_name.
        username:
          type: string
          description: User's login username.
        image:
          type: string
          description: Avatar or profile image URL.
        proToken:
          type: string
          description: Legacy Pro token value when present.
        tenant:
          type: string
          description: Tenant UUID from the user session JWT.
        tenantSlug:
          type: string
          description: URL-safe tenant slug for portal routing.
        user_type:
          type: string
          enum:
            - client
            - internal
          description: User classification from users.user_type.
        clientId:
          type: string
          format: uuid
          description: Client UUID from contacts.client_id for client-portal users.
        contactId:
          type: string
          format: uuid
          description: Contact UUID from users.contact_id for client-portal users.
        plan:
          type: string
          description: Current tenant billing plan key.
        addons:
          type: array
          items:
            type: string
          description: Enabled tenant add-on keys.
        trial_end:
          type:
            - string
            - "null"
          description: Trial expiry timestamp when present.
        subscription_status:
          type:
            - string
            - "null"
          enum:
            - active
            - trialing
            - past_due
            - unpaid
          description: Billing subscription status copied into the session token.
        solo_pro_trial_end:
          type:
            - string
            - "null"
          description: Solo Pro trial expiry timestamp when present.
        premium_trial_end:
          type:
            - string
            - "null"
          description: Premium trial expiry timestamp when present.
        premium_trial_confirmed:
          type: boolean
          description: Whether the user confirmed the Premium trial.
        premium_trial_effective_date:
          type:
            - string
            - "null"
          description: Premium trial effective date when present.
      required:
        - id
        - email
        - name
        - username
    AuthSessionAuthenticatedResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
          description: Current session UUID from the sessions table, created at sign-in.
        login_method:
          type: string
          description: Authentication method used for this session, such as credentials,
            google, or azure-ad.
        user:
          $ref: "#/components/schemas/AuthSessionUser"
      required:
        - user
    EmptyObjectResponse:
      type: object
      properties: {}
      additionalProperties: false
      description: Empty object returned when no authenticated session is present.
    AuthSessionResponse:
      anyOf:
        - $ref: "#/components/schemas/AuthSessionAuthenticatedResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
      description: Authenticated session data, or an empty object when the request has
        no valid session cookie.
    FlatErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
      required:
        - error
    ValidateApiKeyHeaders:
      type: object
      properties:
        x-api-key:
          type: string
          minLength: 1
          description: Plaintext API key to validate. The service hashes this value before
            looking up the api_keys record.
      required:
        - x-api-key
    ValidateApiKeyResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - true
          description: Indicates that the API key is active and valid.
        userId:
          type: string
          format: uuid
          description: UUID of the user who owns the API key, from api_keys.user_id.
        tenant:
          type: string
          description: Tenant identifier scoped to this API key, from api_keys.tenant.
      required:
        - isValid
        - userId
        - tenant
    ValidateTokenHeaders:
      type: object
      properties:
        authorization:
          type: string
          description: Optional Bearer token fallback. The route also accepts the Auth.js
            session token cookie.
    ValidateTokenSuccessResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - true
          description: Indicates that the request contains a valid Auth.js session token.
        userType:
          type: string
          enum:
            - internal
            - client
          description: User classification from users.user_type in the session JWT.
        tenant:
          type: string
          description: Tenant identifier from the session JWT.
      required:
        - isValid
        - userType
        - tenant
    ValidateTokenUnauthorizedResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - false
          description: No valid session token was found.
      required:
        - isValid
    NextAuthCatchAllParams:
      type: object
      properties:
        nextauth:
          type: string
          description: NextAuth catch-all action path. Common values include csrf,
            providers, signin, signout, session, error, verify-request,
            webauthn-options, callback/credentials, callback/google,
            callback/azure-ad, and callback/keycloak.
      required:
        - nextauth
    NextAuthGetQuery:
      type: object
      properties:
        callbackUrl:
          type: string
          description: Optional URL to redirect to after sign-in or sign-out flows.
        error:
          type: string
          description: Optional NextAuth/OAuth error code shown by sign-in or error pages.
        code:
          type: string
          description: OAuth authorization code for provider callback sub-routes.
        state:
          type: string
          description: OAuth state value for provider callback sub-routes.
        error_description:
          type: string
          description: Human-readable provider error description for OAuth callback
            sub-routes.
    CsrfTokenResponse:
      type: object
      properties:
        csrfToken:
          type: string
          description: Opaque double-submit CSRF token required for mutating NextAuth POST
            actions.
      required:
        - csrfToken
    ProviderInfo:
      type: object
      properties:
        id:
          type: string
          description: Provider identifier such as credentials, google, azure-ad, or
            keycloak.
        name:
          type: string
          description: Provider display name.
        type:
          type: string
          enum:
            - oauth
            - oidc
            - credentials
            - email
            - webauthn
          description: NextAuth provider type.
        signinUrl:
          type: string
          description: URL used to initiate sign-in with this provider.
        callbackUrl:
          type: string
          description: URL the provider redirects to after authentication.
      required:
        - id
        - name
        - type
        - signinUrl
        - callbackUrl
    AuthProvidersResponse:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/ProviderInfo"
      description: Map of configured providers keyed by provider ID.
    NextAuthGetResponse:
      anyOf:
        - $ref: "#/components/schemas/AuthSessionAuthenticatedResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
        - $ref: "#/components/schemas/CsrfTokenResponse"
        - $ref: "#/components/schemas/AuthProvidersResponse"
        - $ref: "#/components/schemas/OAuthCallbackHtmlResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
      description: "Representative successful GET response for the NextAuth catch-all
        route. The exact payload depends on the nextauth action: session returns
        a session object or {}, csrf returns csrfToken, providers returns a
        provider map, and page actions return HTML or redirects."
    NextAuthPostBody:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Credentials-provider email address for callback/credentials.
        password:
          type: string
          description: Credentials-provider plaintext password for callback/credentials.
        twoFactorCode:
          type: string
          description: TOTP code required when two-factor authentication is enabled and
            the device is not trusted.
        userType:
          type: string
          enum:
            - client
            - internal
          description: Optional user type used to scope credentials-provider lookup.
        tenant:
          type: string
          description: Optional tenant slug used to resolve the tenant for
            credentials-provider login.
        csrfToken:
          type: string
          description: CSRF token from GET /api/auth/csrf. Required for sign-in, sign-out,
            and other mutating NextAuth actions.
        callbackUrl:
          type: string
          description: Post-authentication redirect URL.
        redirect:
          type: string
          description: NextAuth redirect mode flag.
        json:
          type: string
          description: NextAuth JSON response mode flag.
        code:
          type: string
          description: OAuth authorization code for provider callback actions.
        state:
          type: string
          description: OAuth state value for provider callback actions.
        error:
          type: string
          description: Provider OAuth error code for callback actions.
        error_description:
          type: string
          description: Provider OAuth error description for callback actions.
    RedirectResponse:
      type: string
      description: HTTP redirect response. NextAuth sets or clears cookies depending
        on the action.
    TelemetrySettingsGetResponse:
      type: object
      properties:
        usageStatsEnabled:
          type: boolean
          description: Whether usage statistics are enabled by the ALGA_USAGE_STATS
            environment variable.
        environmentVariable:
          type: string
          enum:
            - ALGA_USAGE_STATS
          description: Environment variable controlling telemetry collection.
        currentValue:
          type: string
          description: Raw ALGA_USAGE_STATS environment value, or not set when absent.
        controlledBy:
          type: string
          enum:
            - environment
          description: Telemetry is controlled by process environment, not runtime API
            writes.
        message:
          type: string
          description: Human-readable explanation of the current telemetry setting.
      required:
        - usageStatsEnabled
        - environmentVariable
        - currentValue
        - controlledBy
        - message
    TelemetrySettingsPostResponse:
      type: object
      properties:
        usageStatsEnabled:
          type: boolean
          description: Whether usage statistics are enabled by the ALGA_USAGE_STATS
            environment variable.
        controlledBy:
          type: string
          enum:
            - environment
          description: Telemetry is controlled by process environment, not runtime API
            writes.
        message:
          type: string
          description: Explains that telemetry settings cannot be changed through this API.
      required:
        - usageStatsEnabled
        - controlledBy
        - message
    AdminTelemetryErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message such as Authentication required, Insufficient
            permissions, or the handler failure message.
      required:
        - error
    AssetListQuery:
      type: object
      properties:
        page:
          type: string
          description: Page number as a query string. Defaults to 1 after validation.
        limit:
          type: string
          description: Page size as a query string. Must parse to 1 through 100; defaults
            to 25.
        sort:
          type: string
          description: Sort column. Defaults to created_at.
        order:
          type: string
          enum: &a4
            - asc
            - desc
          description: Sort direction. Defaults to desc.
        search:
          type: string
          description: General search filter accepted by the shared filter schema. The
            current AssetService.list implementation does not apply this filter.
        created_from:
          type: string
          format: date-time
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        created_to:
          type: string
          format: date-time
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        updated_from:
          type: string
          format: date-time
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        updated_to:
          type: string
          format: date-time
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        is_active:
          type: string
          enum: &a5
            - "true"
            - "false"
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        asset_tag:
          type: string
          description: Partial asset tag match using ILIKE.
        name:
          type: string
          description: Partial asset name match using ILIKE.
        client_id:
          type: string
          format: uuid
          description: Client UUID from clients.client_id.
        asset_type:
          type: string
          enum: &a1
            - workstation
            - network_device
            - server
            - mobile_device
            - printer
            - unknown
          description: Asset type stored in assets.asset_type.
        status:
          type: string
          description: Exact asset status match.
        location:
          type: string
          description: Partial location match using ILIKE.
        client_name:
          type: string
          description: Partial client name match; joins clients on client_id and tenant.
        has_warranty:
          type: string
          enum: &a6
            - "true"
            - "false"
          description: true requires warranty_end_date to be non-null; false requires it
            to be null.
        warranty_expired:
          type: string
          enum: &a7
            - "true"
            - "false"
          description: true filters warranty_end_date before now; false filters future
            warranty dates or no warranty.
        maintenance_due:
          type: string
          enum: &a8
            - "true"
            - "false"
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        purchase_date_from:
          type: string
          format: date-time
          description: Filter purchase_date greater than or equal to this timestamp.
        purchase_date_to:
          type: string
          format: date-time
          description: Filter purchase_date less than or equal to this timestamp.
        warranty_end_from:
          type: string
          format: date-time
          description: Filter warranty_end_date greater than or equal to this timestamp.
        warranty_end_to:
          type: string
          format: date-time
          description: Filter warranty_end_date less than or equal to this timestamp.
    AssetExportQuery:
      type: object
      properties:
        format:
          type: string
          enum: &a9
            - csv
            - json
            - xlsx
          description: Export format. csv returns text/csv; json and xlsx currently return
            the same JSON envelope.
        include_extension_data:
          type: string
          enum: &a10
            - "true"
            - "false"
          description: Accepted by validation, but currently ignored by
            ApiAssetController.export.
        include_maintenance:
          type: string
          enum: &a11
            - "true"
            - "false"
          description: Accepted by validation, but currently ignored by
            ApiAssetController.export.
        include_documents:
          type: string
          enum: &a12
            - "true"
            - "false"
          description: Accepted by validation, but currently ignored by
            ApiAssetController.export.
        asset_types:
          type: array
          items:
            type: string
            enum: *a1
          description: Accepted by validation as an array, but the controller builds query
            values with Object.fromEntries and does not apply this filter.
        statuses:
          type: array
          items:
            type: string
          description: Accepted by validation as an array, but not currently applied.
        client_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Accepted by validation as an array, but not currently applied.
        fields:
          type: array
          items:
            type: string
          description: Accepted by validation as an array, but not currently used to
            select export columns.
    AssetDocumentAssociationParams:
      type: object
      properties:
        associationId:
          type: string
          format: uuid
          description: Document association UUID from document_associations.association_id.
      required:
        - associationId
    AssetExtensionData:
      type: object
      additionalProperties: {}
      description: Asset-type-specific extension data written to the corresponding
        extension table for workstation, network device, server, mobile device,
        or printer assets.
    AssetCreateRequest:
      type: object
      properties:
        client_id:
          type: string
          format: uuid
          description: Client UUID from clients.client_id. Required.
        asset_type:
          type: string
          enum: *a1
          description: Asset type. Determines the optional extension data table.
        asset_tag:
          type: string
          minLength: 1
          maxLength: 255
          description: Required tenant-specific asset tag.
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Required asset name.
        status:
          type: string
          minLength: 1
          description: Required asset status.
        location:
          type: string
          description: Optional asset location.
        serial_number:
          type: string
          description: Optional serial number.
        purchase_date:
          type: string
          format: date-time
          description: Optional purchase date/time.
        warranty_end_date:
          type: string
          format: date-time
          description: Optional warranty end date/time.
        extension_data:
          $ref: "#/components/schemas/AssetExtensionData"
      required:
        - client_id
        - asset_type
        - asset_tag
        - name
        - status
    AssetUpdateData:
      type: object
      properties:
        client_id:
          type: string
          format: uuid
          description: Client UUID to assign to the asset.
        asset_type:
          type: string
          enum: *a1
          description: Asset type to store in assets.asset_type.
        asset_tag:
          type: string
          minLength: 1
          maxLength: 255
          description: Tenant-specific asset tag.
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Asset name.
        status:
          type: string
          minLength: 1
          description: Asset status.
        location:
          type: string
          description: Asset location.
        serial_number:
          type: string
          description: Serial number.
        purchase_date:
          type: string
          format: date-time
          description: Purchase date/time.
        warranty_end_date:
          type: string
          format: date-time
          description: Warranty end date/time.
    AssetBulkUpdateRequest:
      type: object
      properties:
        assets:
          type: array
          items:
            type: object
            properties:
              asset_id:
                type: string
                format: uuid
                description: Asset UUID from assets.asset_id.
              data:
                allOf:
                  - $ref: "#/components/schemas/AssetUpdateData"
                  - description: Partial update data validated with updateAssetSchema.
            required:
              - asset_id
              - data
          minItems: 1
          maxItems: 50
          description: Assets to update. Limited to 1 through 50 entries by validation.
      required:
        - assets
    AssetBulkStatusRequest:
      type: object
      properties:
        asset_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 50
          description: Asset UUIDs from assets.asset_id. Limited to 1 through 50 entries
            by validation.
        status:
          type: string
          minLength: 1
          description: New status assigned to every asset in asset_ids.
      required:
        - asset_ids
        - status
    HateoasLink:
      type: object
      properties:
        href:
          type: string
          description: Target URL for the related operation.
        method:
          type: string
          description: HTTP method for the link when supplied.
      required:
        - href
    AssetLinks:
      type: object
      properties:
        self:
          $ref: "#/components/schemas/HateoasLink"
        edit:
          $ref: "#/components/schemas/HateoasLink"
        delete:
          $ref: "#/components/schemas/HateoasLink"
        list:
          $ref: "#/components/schemas/HateoasLink"
        documents:
          $ref: "#/components/schemas/HateoasLink"
        maintenance:
          $ref: "#/components/schemas/HateoasLink"
        history:
          $ref: "#/components/schemas/HateoasLink"
      description: HATEOAS links generated from the asset_id.
    AssetResource:
      type: object
      properties:
        asset_id:
          type: string
          format: uuid
          description: Primary key from assets.asset_id.
        client_id:
          type: string
          format: uuid
          description: Client UUID from assets.client_id.
        asset_type:
          type: string
          enum: *a1
          description: Asset type stored in assets.asset_type.
        asset_tag:
          type: string
          description: Tenant-specific asset tag.
        name:
          type: string
          description: Asset display name.
        status:
          type: string
          description: Asset status.
        location:
          type:
            - string
            - "null"
          description: Asset location, when recorded.
        serial_number:
          type:
            - string
            - "null"
          description: Asset serial number, when recorded.
        purchase_date:
          type:
            - string
            - "null"
          description: Asset purchase date from assets.purchase_date.
        warranty_end_date:
          type:
            - string
            - "null"
          description: Warranty end date from assets.warranty_end_date.
        created_at:
          type: string
          format: date-time
          description: Asset creation timestamp.
        updated_at:
          type: string
          format: date-time
          description: Asset last update timestamp.
        tenant:
          type: string
          format: uuid
          description: Tenant UUID from assets.tenant; filtered to the authenticated
            request context.
        client_name:
          type: string
          description: Client name selected from the joined clients table.
        warranty_status:
          type: string
          enum:
            - no_warranty
            - expired
            - expiring_soon
            - active
          description: Computed from warranty_end_date by SQL CASE expression.
        maintenance_status:
          type: string
          description: Optional computed maintenance status when present in service results.
        extension_data:
          allOf:
            - $ref: "#/components/schemas/AssetExtensionData"
            - type:
                - object
                - "null"
              description: Asset-type-specific extension data returned by getWithDetails after
                create.
        relationships:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Related asset rows included by getWithDetails after create.
        documents:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Associated document rows included by getWithDetails after create.
        maintenance_schedules:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Maintenance schedule rows included by getWithDetails after create.
        _links:
          $ref: "#/components/schemas/AssetLinks"
      required:
        - asset_id
        - client_id
        - asset_type
        - asset_tag
        - name
        - status
        - created_at
        - updated_at
        - tenant
    AssetListPagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number.
        limit:
          type: integer
          description: Page size.
        total:
          type: integer
          description: Total matching asset count.
        totalPages:
          type: integer
          description: Total number of pages calculated from total and limit.
      required:
        - page
        - limit
        - total
        - totalPages
    AssetCollectionLinks:
      type: object
      properties:
        self:
          $ref: "#/components/schemas/HateoasLink"
        create:
          $ref: "#/components/schemas/HateoasLink"
        search:
          $ref: "#/components/schemas/HateoasLink"
        export:
          $ref: "#/components/schemas/HateoasLink"
        stats:
          $ref: "#/components/schemas/HateoasLink"
      description: Collection links returned by ApiAssetController.list. These
        currently point at /api/v2/assets paths.
    ApiResponseMeta:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Response timestamp generated by
            createApiResponse/createErrorResponse.
        version:
          type: string
          description: API response version string.
      required:
        - timestamp
        - version
    AssetListPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetResource"
          description: Asset records for the requested page.
        pagination:
          $ref: "#/components/schemas/AssetListPagination"
        _links:
          $ref: "#/components/schemas/AssetCollectionLinks"
      required:
        - data
        - pagination
        - _links
    AssetListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Indicates the controller returned a successful response envelope.
        data:
          allOf:
            - $ref: "#/components/schemas/AssetListPayload"
            - description: Nested payload passed to createApiResponse by
                ApiAssetController.list.
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetResourcePayload:
      type: object
      properties:
        data:
          allOf:
            - $ref: "#/components/schemas/AssetResource"
            - description: Asset record returned by the service.
      required:
        - data
    AssetResourceResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          allOf:
            - $ref: "#/components/schemas/AssetResourcePayload"
            - description: Nested payload passed to createApiResponse by
                ApiAssetController.create.
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetBulkUpdatePayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetResource"
          description: Updated asset rows returned from AssetService.update.
        message:
          type: string
          description: Human-readable count of updated assets.
      required:
        - data
        - message
    AssetBulkUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetBulkUpdatePayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetExportJsonPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetResource"
          description: All asset rows returned by AssetService.list with default list
            options. Export filters are currently not applied.
      required:
        - data
    AssetExportJsonResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetExportJsonPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetApiErrorEnvelope:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - false
          description: Indicates the API response is an error envelope.
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message.
            code:
              type: string
              description: Machine-readable error code such as VALIDATION_ERROR or
                INTERNAL_ERROR.
            details:
              description: Optional structured details, including Zod validation errors.
          required:
            - message
            - code
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - error
    AssetMiddlewareUnauthorizedResponse:
      type: object
      properties:
        error:
          type: string
          description: "Middleware-level error, usually Unauthorized: API key missing."
      required:
        - error
    AssetMaintenanceScheduleParams:
      type: object
      properties:
        scheduleId:
          type: string
          format: uuid
          description: Maintenance schedule UUID from
            asset_maintenance_schedules.schedule_id.
      required:
        - scheduleId
    AssetRelationshipParams:
      type: object
      properties:
        relationshipId:
          type: string
          format: uuid
          description: Asset relationship UUID from asset_relationships.relationship_id.
      required:
        - relationshipId
    AssetMaintenanceScheduleUpdateRequest:
      type: object
      properties:
        schedule_type:
          type: string
          enum:
            - preventive
            - inspection
            - calibration
            - replacement
          description: Type of maintenance schedule.
        frequency:
          type: string
          enum:
            - daily
            - weekly
            - monthly
            - quarterly
            - yearly
            - custom
          description: Recurrence frequency. Changing this triggers next_maintenance
            recalculation.
        frequency_interval:
          type: number
          minimum: 1
          description: Frequency multiplier used when calculating the next maintenance date.
        start_date:
          type: string
          format: date-time
          description: Schedule start date/time. Changing this triggers next_maintenance
            recalculation.
        end_date:
          type: string
          format: date-time
          description: Optional schedule end date/time.
        notes:
          type: string
          description: Free-text schedule notes.
        assigned_to:
          type: string
          format: uuid
          description: Assigned user UUID from users.user_id.
        is_active:
          type: boolean
          description: Whether the schedule is active.
        schedule_config:
          type: object
          additionalProperties: {}
          description: Custom scheduling configuration.
    AssetMaintenanceScheduleResource:
      type: object
      properties:
        schedule_id:
          type: string
          format: uuid
          description: Primary key from asset_maintenance_schedules.schedule_id.
        asset_id:
          type: string
          format: uuid
          description: Asset UUID from asset_maintenance_schedules.asset_id.
        schedule_type:
          type: string
          description: Maintenance schedule type as used by ApiAssetController.
        frequency:
          type: string
          description: Recurrence frequency.
        frequency_interval:
          type:
            - number
            - "null"
          description: Frequency multiplier.
        start_date:
          type:
            - string
            - "null"
          description: Schedule start date/time.
        end_date:
          type:
            - string
            - "null"
          description: Schedule end date/time.
        last_maintenance:
          type:
            - string
            - "null"
          description: Last recorded maintenance date/time.
        next_maintenance:
          type:
            - string
            - "null"
          description: Next calculated maintenance date/time.
        notes:
          type:
            - string
            - "null"
          description: Free-text schedule notes.
        assigned_to:
          type:
            - string
            - "null"
          format: uuid
          description: Assigned user UUID.
        is_active:
          type: boolean
          description: Whether the schedule is active.
        schedule_config:
          type:
            - object
            - "null"
          additionalProperties: {}
          description: Custom scheduling configuration.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp.
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp.
        tenant:
          type: string
          format: uuid
          description: Tenant UUID scoped from the request context.
      required:
        - schedule_id
        - asset_id
        - tenant
    AssetMaintenanceSchedulePayload:
      type: object
      properties:
        data:
          allOf:
            - $ref: "#/components/schemas/AssetMaintenanceScheduleResource"
            - description: Updated schedule row. Undefined when the schedule ID does not exist
                or belongs to another tenant.
    AssetMaintenanceScheduleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetMaintenanceSchedulePayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetSearchQuery:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          description: Required search term used in ILIKE clauses.
        fields:
          type: array
          items:
            type: string
            enum: &a13
              - asset_tag
              - name
              - serial_number
              - location
              - client_name
          description: Search fields. If omitted, the service searches asset_tag, name,
            serial_number, and location.
        asset_types:
          type: array
          items:
            type: string
            enum: *a1
          description: Optional asset type filters.
        statuses:
          type: array
          items:
            type: string
          description: Optional status filters.
        client_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Optional client UUID filters.
        include_extension_data:
          type: string
          enum: &a14
            - "true"
            - "false"
          description: When true, the service fetches asset-type-specific extension data
            for every result.
        limit:
          type: string
          description: Maximum result count as a query string. Must parse to 1 through
            100; defaults to 25.
      required:
        - query
    AssetSearchPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetResource"
          description: Matching assets with HATEOAS links.
        _links:
          type: object
          properties:
            self:
              $ref: "#/components/schemas/HateoasLink"
          description: Search collection link. The controller currently points this at
            /api/v2/assets/search.
      required:
        - data
        - _links
    AssetSearchResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetSearchPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetStatsPayload:
      type: object
      properties:
        data:
          type: object
          properties:
            total_assets:
              type: integer
              description: Total asset count for the tenant.
            assets_added_this_month:
              type: integer
              description: Count of assets created since the start of the current month.
            average_asset_age_days:
              type:
                - integer
                - "null"
              description: Rounded average age in days from purchase_date, or null when
                unavailable.
            total_asset_value:
              type: number
              description: Sum of purchase_price values, treating null as zero.
            assets_by_type:
              type: object
              additionalProperties:
                type: integer
              description: Counts grouped by assets.asset_type.
            assets_by_status:
              type: object
              additionalProperties:
                type: integer
              description: Counts grouped by assets.status.
            assets_by_client:
              type: object
              additionalProperties:
                type: integer
              description: Top client counts grouped by clients.client_name. The service
                limits this grouping to 10 clients.
            warranty_expiring_soon:
              type: integer
              description: Count of warranties ending within 30 days.
            warranty_expired:
              type: integer
              description: Count of warranties already expired.
            maintenance_due:
              type: integer
              description: Count of active maintenance schedules with next_maintenance due now
                or earlier.
            maintenance_overdue:
              type: integer
              description: Count of active maintenance schedules overdue by more than seven
                days.
          required:
            - total_assets
            - assets_added_this_month
            - average_asset_age_days
            - total_asset_value
            - assets_by_type
            - assets_by_status
            - assets_by_client
            - warranty_expiring_soon
            - warranty_expired
            - maintenance_due
            - maintenance_overdue
        _links:
          type: object
          properties:
            self:
              $ref: "#/components/schemas/HateoasLink"
            assets:
              $ref: "#/components/schemas/HateoasLink"
          description: Stats links. The controller currently points these at
            /api/v2/assets paths.
      required:
        - data
        - _links
    AssetStatsResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetStatsPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    LicenceCountHeaders:
      type: object
      properties:
        x-webhook-signature:
          type: string
          description: HMAC-SHA256 hex digest proving the caller knows ALGA_WEBHOOK_SECRET.
      required:
        - x-webhook-signature
    LicenceCountQuery:
      type: object
      properties:
        tenant_id:
          type: string
          description: Tenant identifier to query. This must match a tenants.tenant record.
      required:
        - tenant_id
    LicenceUsageResponse:
      type: object
      properties:
        tenant_id:
          type: string
          description: Echoed tenant identifier from the request.
        limit:
          type:
            - integer
            - "null"
          description: Licensed internal-user count from tenants.licensed_user_count. Null
            means unlimited.
        used:
          type: integer
          description: Count of active internal users where users.user_type is internal
            and is_inactive is false.
        remaining:
          type:
            - integer
            - "null"
          description: Calculated remaining seats as max(0, limit - used), or null when
            limit is unlimited.
        last_updated:
          type:
            - string
            - "null"
          description: ISO timestamp from tenants.last_license_update, or null if no
            license update has been recorded.
      required:
        - tenant_id
        - limit
        - used
        - remaining
        - last_updated
    LicenceCountUpdateRequest:
      type: object
      properties:
        tenant_id:
          type: string
          description: Tenant identifier from tenants.tenant whose licensed user count
            should be updated.
        license_count:
          type: integer
          minimum: 0
          description: Licensed internal-user count from the Stripe subscription quantity.
        event_id:
          type: string
          description: Stripe webhook event ID. When supplied, the handler uses
            tenants.stripe_event_id for idempotency.
      required:
        - tenant_id
        - license_count
    LicenceCountUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Indicates the license count update was accepted.
        tenant_id:
          type: string
          description: Echoed tenant identifier that was updated.
        license_count:
          type: integer
          description: Echoed licensed user count that was written.
        updated_at:
          type: string
          format: date-time
          description: ISO timestamp generated by the handler for this response.
      required:
        - success
        - tenant_id
        - license_count
        - updated_at
    LicenceCountErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
      required:
        - error
    ChatMessage:
      type: object
      properties:
        role:
          type: string
          enum:
            - user
            - assistant
          description: Role of the message author in the conversation.
        content:
          type: string
          description: Message text sent to the chat model.
      required:
        - role
        - content
    ChatStreamRequest:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/ChatMessage"
          minItems: 1
          description: Conversation messages in order. These are passed to the OpenRouter
            chat model.
        options:
          type: object
          additionalProperties: {}
          description: Optional model options. Currently declared by the internal
            interface but not consumed by the handler.
        model:
          type: string
          description: Optional model override. Currently ignored; the server uses
            OPENROUTER_CHAT_MODEL or minimax/minimax-m2.
        meta:
          type: object
          properties:
            authorization:
              type: string
              description: Optional downstream authorization token. Currently declared but not
                consumed by the handler.
          description: Optional metadata for legacy chat clients.
      required:
        - inputs
    ChatTitleStreamRequest:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/ChatMessage"
          minItems: 1
          description: Conversation messages used as context for generating a short chat
            title.
      required:
        - inputs
    ChatStreamEvent:
      type: object
      properties:
        content:
          type: string
          description: SSE data payload content. Normal events contain generated text;
            terminal events may contain [DONE].
        type:
          type: string
          enum:
            - text
            - error
          description: Event type. text carries model output; error carries an in-stream
            error message.
      required:
        - content
    ChatStreamError:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
      required:
        - error
    ChatStreamSlugParams:
      type: object
      properties:
        slug:
          type: string
          description: Catch-all chat stream path segment. The current handler accepts the
            value but does not use it.
      required:
        - slug
    DocumentDownloadParams:
      type: object
      properties:
        fileId:
          type: string
          format: uuid
          description: Document UUID or file UUID. The download handler resolves
            document_id first, then file_id.
      required:
        - fileId
    DocumentFileIdParams:
      type: object
      properties:
        fileId:
          type: string
          format: uuid
          description: File UUID from external_files.file_id identifying the stored file
            to serve.
      required:
        - fileId
    DocumentIdDownloadParams:
      type: object
      properties:
        documentId:
          type: string
          format: uuid
          description: Document UUID from documents.document_id, or file UUID from
            documents.file_id. The handler resolves document_id first and falls
            back to file_id.
      required:
        - documentId
    DocumentIdDownloadHeaders:
      type: object
      properties:
        x-api-key:
          type: string
          description: Optional API key for machine-to-machine download requests. Used
            only when no valid Auth.js session cookie is present.
    DocumentDownloadQuery:
      type: object
      properties:
        format:
          type: string
          enum: &a15
            - pdf
            - markdown
            - md
          description: Optional export format. pdf generates a PDF; markdown or md exports
            markdown; omitted downloads the original stored file.
    DocumentViewHeaders:
      type: object
      properties:
        range:
          type: string
          description: HTTP Range header for partial video responses, for example
            bytes=0-1048575. Only honored for video/* files.
        x-api-key:
          type: string
          description: Optional API key fallback for non-browser clients. Used only when
            no valid session cookie is present.
    BinaryFileResponse:
      type: string
      description: Binary file bytes streamed from the storage provider.
    MarkdownFileResponse:
      type: string
      description: Markdown export text generated from document content.
    DocumentDownloadError:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
        permissionError:
          type: string
          description: Permission-denied message returned by the underlying document
            action in some RBAC failures.
    DocumentPlainTextError:
      type: string
      description: Plain text error response.
    EmailErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
        success:
          type: boolean
          description: Present on some failure responses.
        retryable:
          type: boolean
          description: Whether a webhook sender should retry the request.
      required:
        - error
    EmailOAuthInitiateRequest:
      type: object
      properties:
        provider:
          type: string
          enum:
            - microsoft
            - google
          description: Email OAuth provider to authorize.
        redirectUri:
          type: string
          format: uri
          description: Optional OAuth callback URI. If omitted, the server builds
            /api/auth/{provider}/callback from the configured base URL.
        providerId:
          type: string
          format: uuid
          description: Email provider configuration ID to carry through OAuth state and
            use during callback token persistence.
      required:
        - provider
    EmailOAuthInitiateResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: OAuth initiation succeeded.
        authUrl:
          type: string
          format: uri
          description: Provider authorization URL for the browser to visit.
        provider:
          type: string
          enum:
            - microsoft
            - google
          description: Email OAuth provider being authorized.
        state:
          type: string
          description: Base64-encoded OAuth state containing tenant, userId, providerId,
            redirectUri, timestamp, nonce, and hosted flag.
      required:
        - success
        - authUrl
        - provider
        - state
    EmailOAuthState:
      type: object
      properties:
        tenant:
          type: string
          description: Tenant identifier from the authenticated user session.
        userId:
          type: string
          description: User UUID from the authenticated session.
        providerId:
          type: string
          format: uuid
          description: Email provider configuration UUID from the initiate request.
        redirectUri:
          type: string
          description: OAuth redirect URI included in the authorization request.
        timestamp:
          type: number
          description: Epoch milliseconds when state was generated.
        nonce:
          type: string
          description: Random hex nonce for CSRF correlation.
        hosted:
          type: boolean
          description: Whether hosted credentials are used for the flow.
      required:
        - tenant
        - redirectUri
        - timestamp
        - nonce
    EmailRefreshWatchRequest:
      type: object
      properties:
        providerId:
          type: string
          format: uuid
          description: Active Gmail email provider ID from email_providers.id to refresh.
      required:
        - providerId
    EmailRefreshWatchResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Refresh completed successfully.
        message:
          type: string
          description: Human-readable success message.
        providerId:
          type: string
          format: uuid
          description: Email provider ID that was refreshed.
        mailbox:
          type: string
          format: email
          description: Mailbox address for the Gmail provider.
      required:
        - success
        - message
        - providerId
        - mailbox
    GooglePubSubMessage:
      type: object
      properties:
        data:
          type: string
          description: Base64-encoded Gmail notification JSON containing emailAddress and
            historyId.
        messageId:
          type: string
          description: Google Pub/Sub message ID.
        publishTime:
          type: string
          description: ISO timestamp when Pub/Sub published the message.
      required:
        - data
        - messageId
        - publishTime
    GooglePubSubPushBody:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/GooglePubSubMessage"
        subscription:
          type: string
          description: Full Pub/Sub subscription path, such as
            projects/{project}/subscriptions/{subscriptionName}.
      required:
        - message
        - subscription
    GmailNotificationPayload:
      type: object
      properties:
        emailAddress:
          type: string
          format: email
          description: Gmail mailbox address with new activity.
        historyId:
          type: string
          description: Gmail history ID indicating the mailbox change position.
      required:
        - emailAddress
        - historyId
    GoogleWebhookEnqueueResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Webhook was accepted.
        queued:
          type: boolean
          enum:
            - true
          description: The notification was enqueued for asynchronous processing.
        handoff:
          type: string
          enum:
            - unified_pointer_queue
          description: Queue handoff mechanism used for the Gmail notification pointer.
        providerId:
          type: string
          format: uuid
          description: Resolved email_providers.id for the Gmail mailbox.
        tenant:
          type: string
          description: Tenant identifier owning the provider.
        historyId:
          type: string
          description: Gmail history ID from the decoded notification.
        jobId:
          type: string
          format: uuid
          description: UUID assigned to the Redis queue job.
        queueDepth:
          type: integer
          description: Redis queue depth after enqueue.
      required:
        - success
        - queued
        - handoff
        - providerId
        - tenant
        - historyId
        - jobId
        - queueDepth
    GoogleWebhookSkippedResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Webhook request was accepted but no job was enqueued.
        message:
          type: string
          enum:
            - No data to process
            - No provider found
            - No google config found
          description: Reason the webhook did not enqueue work.
      required:
        - success
        - message
    MicrosoftWebhookValidationQuery:
      type: object
      properties:
        validationtoken:
          type: string
          description: Microsoft Graph subscription validation token. The handler also
            accepts validationToken with camel-case spelling.
        validationToken:
          type: string
          description: Camel-case variant of the Microsoft Graph validation token.
    MicrosoftWebhookTextResponse:
      type: string
      description: Plain text response. For validation requests, this is the
        validation token echoed verbatim; otherwise it may be OK or Internal
        Server Error.
    MicrosoftGraphResourceData:
      type: object
      properties:
        "@odata.type":
          type: string
          description: "OData resource type, such as #microsoft.graph.message."
        "@odata.id":
          type: string
          description: OData resource identifier.
        id:
          type: string
          description: Microsoft Graph message ID. If absent, the handler extracts it from
            resource.
        subject:
          type: string
          description: Optional message subject supplied by Microsoft Graph.
    MicrosoftGraphNotification:
      type: object
      properties:
        changeType:
          type: string
          description: Microsoft Graph change type, typically created for new mail.
        clientState:
          type: string
          description: Opaque verification token that must match
            microsoft_email_provider_config.webhook_verification_token when
            configured.
        resource:
          type: string
          description: Graph resource path, for example
            /users/{userId}/messages/{messageId}.
        resourceData:
          $ref: "#/components/schemas/MicrosoftGraphResourceData"
        subscriptionExpirationDateTime:
          type: string
          description: Microsoft Graph subscription expiry timestamp.
        subscriptionId:
          type: string
          description: Microsoft Graph subscription ID. Used to resolve
            microsoft_email_provider_config.webhook_subscription_id.
        tenantId:
          type: string
          description: Microsoft tenant GUID from the notification. Informational only;
            tenant is resolved from DB.
      required:
        - changeType
        - resource
        - resourceData
        - subscriptionId
    MicrosoftGraphWebhookBody:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: "#/components/schemas/MicrosoftGraphNotification"
          description: Batch of Microsoft Graph change notifications.
      required:
        - value
    MicrosoftWebhookSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Webhook request was processed successfully.
        queued:
          type: boolean
          description: Whether any notification pointer jobs were enqueued.
        handoff:
          type: string
          enum:
            - unified_pointer_queue
          description: Queue handoff mechanism used for Microsoft notification pointers.
        unifiedQueuedCount:
          type: integer
          description: Number of notification jobs enqueued.
        processedCount:
          type: integer
          description: Number of notifications processed.
        messageIds:
          type: array
          items:
            type: string
          description: Microsoft Graph message IDs that were enqueued.
      required:
        - success
        - queued
        - handoff
        - unifiedQueuedCount
        - processedCount
        - messageIds
    MicrosoftWebhookEmptyResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Webhook request was accepted.
        message:
          type: string
          description: Reason no notification jobs were enqueued.
      required:
        - success
        - message
    MicrosoftWebhookEnqueueErrorResponse:
      type: object
      properties:
        error:
          type: string
          enum:
            - Failed to enqueue one or more Microsoft pointer jobs
        failureCount:
          type: integer
          description: Number of enqueue failures.
        failures:
          type: array
          items:
            type: object
            properties:
              subscriptionId:
                type: string
                description: Microsoft Graph subscription ID from the notification.
              messageId:
                type: string
                description: Microsoft Graph message ID that failed to enqueue.
              providerId:
                type: string
                description: Resolved email provider ID.
              tenantId:
                type: string
                description: Resolved tenant identifier.
              reason:
                type: string
                description: Failure reason.
            required:
              - subscriptionId
              - messageId
              - providerId
              - tenantId
              - reason
          description: Per-notification enqueue failures.
      required:
        - error
        - failureCount
        - failures
    EmailWebhookTestRequest:
      type: object
      properties:
        provider:
          type: string
          enum:
            - microsoft
            - google
          description: Email provider type to simulate in the synthetic inbound email
            event. Defaults to microsoft.
        messageId:
          type: string
          description: Synthetic message identifier to include in the test event. Defaults
            to test-message-123.
    EmailWebhookTestResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Test event was published successfully.
        message:
          type: string
          description: Human-readable success message.
        eventId:
          type: string
          description: Redis Streams event ID returned by publishEvent.
        tenant:
          type: string
          description: Tenant identifier from the authenticated user session.
      required:
        - success
        - message
        - eventId
        - tenant
    ExtensionGatewayParams:
      type: object
      properties:
        extensionId:
          type: string
          minLength: 1
          description: Extension identifier from the URL. This may be a registry/install
            UUID or a publisher.name slug, resolved case-insensitively.
        path:
          type: string
          description: Remaining extension endpoint path after extensionId. The gateway
            forwards this path to the runner unchanged.
      required:
        - extensionId
    ExtensionGatewayHeaders:
      type: object
      properties:
        x-request-id:
          type: string
          format: uuid
          description: Optional request ID. The gateway generates a UUID when absent and
            forwards it to the runner.
        x-idempotency-key:
          type: string
          description: Optional idempotency key for non-GET methods. The gateway falls
            back to x-request-id when absent and forwards the key to the runner.
        x-alga-tenant:
          type: string
          description: Internal tenant header used for tenant resolution before session
            fallback.
        x-tenant-id:
          type: string
          description: Legacy tenant header accepted for tenant resolution before session
            fallback.
    ExtensionOpaqueRequest:
      type: object
      properties: {}
      description: Extension-specific request body. The gateway treats this as opaque,
        enforces a 10 MB limit for non-GET methods, base64-encodes it, and
        forwards it to the extension runner.
    ExtensionOpaqueResponse:
      type: object
      properties: {}
      description: Extension-specific response relayed from the runner. Status code,
        content type, and body are controlled by the extension.
    ExtensionGatewayErrorResponse:
      type: object
      properties:
        error:
          type: string
          enum:
            - not_installed
            - payload_too_large
            - install_context_missing
            - runner_empty_response
            - runner_invalid_response
            - bad_gateway
            - internal_error
          description: Gateway-level error code.
        detail:
          description: Additional error detail when available.
      required:
        - error
    FileDownloadParams:
      type: object
      properties:
        fileId:
          type: string
          format: uuid
          description: File UUID from external_files.file_id to download. The handler does
            not validate UUID syntax before querying storage metadata.
      required:
        - fileId
    FileBinaryDownloadResponse:
      type: string
      description: Binary file bytes loaded from the configured storage provider.
    FileDownloadPlainTextError:
      type: string
      description: Plain text error response, such as Tenant not found or Download failed.
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
          description: Always ok when the API process is reachable.
        version:
          type: string
          description: Hardcoded API version string returned by the handler.
      required:
        - status
        - version
    HealthzResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - healthy
          description: Always healthy when the process can serve HTTP.
        timestamp:
          type: string
          format: date-time
          description: ISO timestamp generated when the liveness check is handled.
        uptime:
          type: number
          minimum: 0
          description: Process uptime in seconds from process.uptime().
        version:
          type: string
          description: Application version from the environment/package metadata, with a
            fallback in the handler.
        environment:
          type: string
          description: NODE_ENV value returned by the Next.js /api/healthz handler.
      required:
        - status
        - timestamp
        - uptime
        - version
    ReadyzChecks:
      type: object
      properties:
        database:
          type: boolean
          description: True when a SELECT 1 database connectivity check succeeds.
        redis:
          type: boolean
          description: Redis readiness placeholder. Currently mirrors the database check
            result.
      required:
        - database
        - redis
    ReadyzReadyResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - ready
          description: All critical dependencies checked by this handler are available.
        timestamp:
          type: string
          format: date-time
          description: ISO timestamp generated when the readiness check is handled.
        uptime:
          type: number
          minimum: 0
          description: Process uptime in seconds from process.uptime().
        version:
          type: string
          description: Application version from npm_package_version, with handler fallback.
        checks:
          $ref: "#/components/schemas/ReadyzChecks"
      required:
        - status
        - timestamp
        - uptime
        - version
        - checks
    ReadyzNotReadyResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - not_ready
          description: One or more critical dependencies are unavailable.
        timestamp:
          type: string
          format: date-time
          description: ISO timestamp generated when the readiness check is handled.
        uptime:
          type: number
          minimum: 0
          description: Process uptime in seconds. Present in the dependency-failure
            branch, omitted by the catch branch.
        version:
          type: string
          description: Application version. Present only in the ready response branch.
        checks:
          $ref: "#/components/schemas/ReadyzChecks"
        error:
          type: string
          description: Readiness failure reason or caught exception message.
      required:
        - status
        - timestamp
        - checks
        - error
    RunnerCanaryHeaders:
      type: object
      properties:
        x-canary:
          type: string
          description: Optional runner canary identifier used only for logging and cache
            variance.
    InstallLookupByHostQuery:
      type: object
      properties:
        host:
          type: string
          minLength: 1
          description: Runner domain hostname to resolve. The implementation lowercases
            the value and strips any port before matching
            tenant_extension_install.runner_domain.
      required:
        - host
    InstallLookupByHostResponse:
      type: object
      properties:
        tenant_id:
          type: string
          description: Tenant ID from tenant_extension_install.tenant_id for the matching
            runner domain.
        extension_id:
          type: string
          format: uuid
          description: Extension registry UUID from tenant_extension_install.registry_id.
        content_hash:
          type: string
          description: Content hash from extension_bundle.content_hash for the install
            version. Usually sha256:<64 hex chars>.
      required:
        - tenant_id
        - extension_id
        - content_hash
    InstallLookupErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message, such as missing host, not found, internal error, or
            middleware API-key errors.
      required:
        - error
    InstallValidateQuery:
      type: object
      properties:
        tenant:
          type: string
          format: uuid
          description: Tenant UUID from tenant_extension_install.tenant_id.
        extension:
          type: string
          format: uuid
          description: Extension registry UUID from tenant_extension_install.registry_id.
        hash:
          type: string
          minLength: 1
          description: "Bundle content hash to validate. The EE action accepts sha256:<64
            hex chars> or a raw 64-character hex string and normalizes raw hex
            to sha256: form."
      required:
        - tenant
        - extension
        - hash
    InstallValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: True when the hash matches a bundle for the currently installed
            extension version; false when validation completes but does not
            match.
      required:
        - valid
    InstallValidateParameterErrorResponse:
      type: object
      properties:
        valid:
          type: boolean
          enum:
            - false
          description: Always false for parameter errors.
        error:
          type: string
          enum:
            - missing or invalid parameters
          description: Returned when tenant, extension, or hash is absent.
      required:
        - valid
        - error
    QboOAuthCallbackQuery:
      type: object
      properties:
        code:
          type: string
          description: OAuth 2.0 authorization code returned by Intuit. Required unless
            Intuit sends an error parameter.
        state:
          type: string
          description: Base64url-encoded JSON containing tenantId and csrf generated by
            the connect endpoint.
        realmId:
          type: string
          description: QuickBooks company/realm ID returned by Intuit.
        error:
          type: string
          description: OAuth error returned by Intuit when authorization fails or is denied.
    QboErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message returned by middleware or by the connect endpoint.
      required:
        - error
    QboRouteMissingResponse:
      type: string
      description: Default Next.js 404 page or not-found response. The route file
        listed in inventory is absent in this worktree.
    BoardIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Board UUID.
      required:
        - id
    BoardApiResponse:
      type: object
      properties:
        board_id:
          type: string
          format: uuid
        board_name:
          type: string
        description:
          type:
            - string
            - "null"
        display_order:
          type: number
        is_default:
          type: boolean
        is_inactive:
          type: boolean
        category_type:
          type:
            - string
            - "null"
          enum:
            - custom
            - itil
        priority_type:
          type:
            - string
            - "null"
          enum:
            - custom
            - itil
        display_itil_impact:
          type:
            - boolean
            - "null"
        display_itil_urgency:
          type:
            - boolean
            - "null"
        default_assigned_to:
          type:
            - string
            - "null"
          format: uuid
        inbound_reply_reopen_enabled:
          type: boolean
        inbound_reply_reopen_cutoff_hours:
          type: integer
        inbound_reply_reopen_status_id:
          type:
            - string
            - "null"
          format: uuid
        inbound_reply_ai_ack_suppression_enabled:
          type: boolean
        enable_live_ticket_timer:
          type:
            - boolean
            - "null"
        tenant:
          type: string
          format: uuid
      required:
        - board_id
        - board_name
        - description
        - display_order
        - is_default
        - is_inactive
        - category_type
        - priority_type
        - display_itil_impact
        - display_itil_urgency
        - default_assigned_to
        - enable_live_ticket_timer
        - tenant
    BoardEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/BoardApiResponse"
      required:
        - data
    BoardListEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/BoardApiResponse"
      required:
        - data
    BoardCreateRequest:
      type: object
      properties:
        board_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        is_default:
          type: boolean
        is_inactive:
          type: boolean
        category_type:
          type: string
          enum: &a2
            - custom
            - itil
        priority_type:
          type: string
          enum: &a3
            - custom
            - itil
        default_assigned_to:
          type:
            - string
            - "null"
          format: uuid
        display_itil_impact:
          type: boolean
        display_itil_urgency:
          type: boolean
        enable_live_ticket_timer:
          type: boolean
      required:
        - board_name
      description: Payload for creating a new board.
    BoardUpdateRequest:
      type: object
      properties:
        board_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        is_default:
          type: boolean
        is_inactive:
          type: boolean
        category_type:
          type: string
          enum: *a2
        priority_type:
          type: string
          enum: *a3
        default_assigned_to:
          type:
            - string
            - "null"
          format: uuid
        display_itil_impact:
          type: boolean
        display_itil_urgency:
          type: boolean
        enable_live_ticket_timer:
          type: boolean
      description: Payload for updating a board. All fields are optional.
    StatusIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Status UUID.
      required:
        - id
    StatusApiResponse:
      type: object
      properties:
        status_id:
          type: string
          format: uuid
        name:
          type: string
        status_type:
          type: string
          enum:
            - ticket
            - project
            - project_task
            - interaction
        order_number:
          type: number
        is_closed:
          type: boolean
        is_default:
          type:
            - boolean
            - "null"
        item_type:
          type:
            - string
            - "null"
        standard_status_id:
          type:
            - string
            - "null"
        is_custom:
          type:
            - boolean
            - "null"
        tenant:
          type: string
          format: uuid
      required:
        - status_id
        - name
        - status_type
        - order_number
        - is_closed
        - is_default
        - item_type
        - standard_status_id
        - is_custom
        - tenant
    StatusEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/StatusApiResponse"
      required:
        - data
    StatusListEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/StatusApiResponse"
      required:
        - data
    StatusCreateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        status_type:
          type: string
          enum:
            - ticket
            - project
            - project_task
            - interaction
        board_id:
          type: string
          format: uuid
        is_closed:
          type: boolean
        is_default:
          type: boolean
        order_number:
          type: integer
          minimum: 0
        color:
          type: string
          pattern: ^#[0-9A-Fa-f]{6}$
        icon:
          type: string
          maxLength: 50
      required:
        - name
        - status_type
      description: Payload for creating a new status. For ticket statuses, board_id is
        required.
    StatusUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        is_closed:
          type: boolean
        is_default:
          type: boolean
        order_number:
          type: integer
          minimum: 0
        color:
          type: string
          pattern: ^#[0-9A-Fa-f]{6}$
        icon:
          type: string
          maxLength: 50
      description: Payload for updating a status. All fields are optional.
    ServiceCategory:
      type: object
      properties:
        tenant:
          type: string
          format: uuid
        category_id:
          type: string
          format: uuid
        category_name:
          type: string
        description:
          type:
            - string
            - "null"
        display_order:
          type: integer
          default: 0
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        updated_by:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string
      required:
        - tenant
        - category_id
        - category_name
        - is_active
        - created_at
        - updated_at
        - created_by
        - updated_by
      description: Service category resource.
    ServiceCategoryCreateRequest:
      type: object
      properties:
        category_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        is_active:
          type: boolean
      required:
        - category_name
      description: Payload for creating a service category.
    ServiceCategoryListQuery:
      type: object
      properties:
        search:
          type: string
        is_active:
          type: boolean
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
      description: Query parameters for listing service categories.
    PaginatedServiceCategoryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ServiceCategory"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    ServiceIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Service UUID.
      required:
        - id
    ServicePrice:
      type: object
      properties:
        currency_code:
          type: string
          minLength: 3
          maxLength: 3
        rate:
          type: number
      required:
        - currency_code
        - rate
    ServiceCatalogEntry:
      type: object
      properties:
        service_id:
          type: string
          format: uuid
        tenant:
          type: string
          format: uuid
        service_name:
          type: string
        custom_service_type_id:
          type: string
          format: uuid
        billing_method:
          type: string
          enum:
            - fixed
            - hourly
            - usage
        default_rate:
          type: number
        unit_of_measure:
          type: string
        category_id:
          type:
            - string
            - "null"
          format: uuid
        tax_rate_id:
          type:
            - string
            - "null"
          format: uuid
        description:
          type:
            - string
            - "null"
        item_kind:
          type: string
          enum:
            - service
            - product
        is_active:
          type: boolean
        sku:
          type:
            - string
            - "null"
        cost:
          type:
            - number
            - "null"
        cost_currency:
          type:
            - string
            - "null"
          minLength: 3
          maxLength: 3
        vendor:
          type:
            - string
            - "null"
        manufacturer:
          type:
            - string
            - "null"
        product_category:
          type:
            - string
            - "null"
        is_license:
          type: boolean
        license_term:
          type:
            - string
            - "null"
        license_billing_cadence:
          type:
            - string
            - "null"
        service_type_name:
          type: string
        prices:
          type: array
          items:
            $ref: "#/components/schemas/ServicePrice"
      required:
        - service_id
        - tenant
        - service_name
        - custom_service_type_id
        - billing_method
        - default_rate
        - unit_of_measure
      description: Service catalog entry.
    ServiceEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ServiceCatalogEntry"
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
    PaginatedServiceEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ServiceCatalogEntry"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    ProductIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Product UUID.
      required:
        - id
    ProductPrice:
      type: object
      properties:
        currency_code:
          type: string
          minLength: 3
          maxLength: 3
        rate:
          type: number
      required:
        - currency_code
        - rate
    ProductCatalogEntry:
      type: object
      properties:
        service_id:
          type: string
          format: uuid
        tenant:
          type: string
          format: uuid
        service_name:
          type: string
        custom_service_type_id:
          type: string
          format: uuid
        billing_method:
          type: string
          enum:
            - usage
        default_rate:
          type: number
        unit_of_measure:
          type: string
        category_id:
          type:
            - string
            - "null"
          format: uuid
        tax_rate_id:
          type:
            - string
            - "null"
          format: uuid
        description:
          type:
            - string
            - "null"
        item_kind:
          type: string
          enum:
            - product
        is_active:
          type: boolean
        sku:
          type:
            - string
            - "null"
        cost:
          type:
            - number
            - "null"
        cost_currency:
          type:
            - string
            - "null"
          minLength: 3
          maxLength: 3
        vendor:
          type:
            - string
            - "null"
        manufacturer:
          type:
            - string
            - "null"
        product_category:
          type:
            - string
            - "null"
        is_license:
          type: boolean
        license_term:
          type:
            - string
            - "null"
        license_billing_cadence:
          type:
            - string
            - "null"
        service_type_name:
          type: string
        prices:
          type: array
          items:
            $ref: "#/components/schemas/ProductPrice"
      required:
        - service_id
        - tenant
        - service_name
        - custom_service_type_id
        - billing_method
        - default_rate
        - unit_of_measure
        - item_kind
      description: Product catalog entry.
    ProductEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ProductCatalogEntry"
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
    PaginatedProductEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProductCatalogEntry"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    ServiceTypeIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Service type UUID.
      required:
        - id
    ServiceTypeListQuery:
      type: object
      properties:
        search:
          type: string
        billing_method:
          type: string
          enum: &a20
            - fixed
            - hourly
            - usage
        is_active:
          type: boolean
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
    ServiceTypeResource:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant:
          type: string
          format: uuid
        name:
          type: string
        billing_method:
          type: string
          enum:
            - fixed
            - hourly
            - usage
        is_active:
          type: boolean
        description:
          type:
            - string
            - "null"
        order_number:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - tenant
        - name
        - billing_method
        - is_active
        - order_number
        - created_at
        - updated_at
      description: Tenant-specific service type.
    ServiceTypeEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ServiceTypeResource"
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
    PaginatedServiceTypeEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ServiceTypeResource"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    ProjectIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Project UUID.
      required:
        - id
    ProjectPhaseTaskParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Project UUID.
        phaseId:
          type: string
          format: uuid
          description: Project phase UUID.
      required:
        - id
        - phaseId
    ProjectTaskIdParams:
      type: object
      properties:
        taskId:
          type: string
          format: uuid
          description: Project task UUID.
      required:
        - taskId
    ProjectTaskApiResponse:
      type: object
      properties:
        task_id:
          type: string
          format: uuid
        phase_id:
          type: string
          format: uuid
        task_name:
          type: string
        description:
          type:
            - string
            - "null"
        assigned_to:
          type:
            - string
            - "null"
          format: uuid
        estimated_hours:
          type:
            - number
            - "null"
        actual_hours:
          type:
            - number
            - "null"
        project_status_mapping_id:
          type: string
          format: uuid
        due_date:
          type:
            - string
            - "null"
          format: date-time
        priority_id:
          type:
            - string
            - "null"
          format: uuid
        task_type_key:
          type: string
        wbs_code:
          type: string
        order_key:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tenant:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string
      required:
        - task_id
        - phase_id
        - task_name
        - description
        - assigned_to
        - estimated_hours
        - actual_hours
        - project_status_mapping_id
        - priority_id
        - task_type_key
        - wbs_code
        - created_at
        - updated_at
[...]
