openapi: 3.1.0
info:
  title: Alga PSA API
  version: 0.1.0
  description: OpenAPI specification generated from registered route metadata.
servers:
  - url: https://algapsa.com
    description: Production
  - url: http://localhost:3000
    description: Local development
tags:
  - name: Access Control & Users v1
  - name: Admin
  - name: Assets
  - name: Auth
  - name: Automation
  - name: Billing
  - name: Billing Analytics
  - name: Boards
  - name: Categories
  - name: Chat
  - name: Client Contract Lines
  - name: Clients
  - name: Contacts
  - name: Contract Lines
  - name: Documents
  - name: Email
  - name: Extension Gateway
  - name: Extension Installs
  - name: Files
  - name: Financial
  - name: Integrations - QuickBooks
  - name: Invoices
  - name: Meta & Utility v1
  - name: Products
  - name: Projects
  - name: QuickBooks v1
  - name: Quotes & Contracts v1
  - name: Service Catalog
  - name: Service Categories
  - name: Service Types
  - name: Services
  - name: SoftwareOne Extensions
  - name: Statuses
  - name: Storage
  - name: System
  - name: Telemetry
  - name: Ticket Categories
  - name: Webhooks
  - name: Work Management v1
  - name: Workflows v1
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Auth.js JWE session token
    SessionCookieAuth:
      type: apiKey
      in: cookie
      name: authjs.session-token
      description: Auth.js session cookie. In secure production deployments the cookie
        may be named __Secure-authjs.session-token; in local development it may
        include a port suffix.
    WebhookSignatureAuth:
      type: apiKey
      in: header
      name: x-webhook-signature
      description: HMAC-SHA256 signature generated with ALGA_WEBHOOK_SECRET. POST
        signs the raw JSON body. GET signs the string GET:<tenant_id>.
    GooglePubSubJWT:
      type: http
      scheme: bearer
      bearerFormat: Google Pub/Sub JWT
      description: Google-signed JWT from Pub/Sub push. The webhook validates the
        audience against the webhook URL and checks the issuer/service account
        against tenant Google configuration.
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
          required:
            - code
            - message
      required:
        - error
    PlaceholderObject:
      type: object
      properties: {}
    OAuthCallbackHtmlResponse:
      type: string
      description: HTML popup callback page. The page posts a JSON oauth-callback
        message to window.opener or window.parent via postMessage, then attempts
        to close itself.
    OAuthCallbackQuery:
      type: object
      properties:
        code:
          type: string
          description: OAuth 2.0 authorization code. Required unless the provider returned
            error.
        state:
          type: string
          description: Base64-encoded JSON state object generated when the OAuth flow was
            initiated. It carries tenant context, providerId, redirectUri,
            timestamp, and nonce values used to complete the callback.
        error:
          type: string
          description: OAuth error code returned by the provider, such as access_denied.
        error_description:
          type: string
          description: Human-readable OAuth error description returned by the provider.
    AuthSessionUser:
      type: object
      properties:
        id:
          type: string
          description: User identifier from the users.user_id record.
        email:
          type: string
          format: email
          description: User's email address.
        name:
          type: string
          description: User's display name, usually first_name plus last_name.
        username:
          type: string
          description: User's login username.
        image:
          type: string
          description: Avatar or profile image URL.
        proToken:
          type: string
          description: Legacy Pro token value when present.
        tenant:
          type: string
          description: Tenant UUID from the user session JWT.
        tenantSlug:
          type: string
          description: URL-safe tenant slug for portal routing.
        user_type:
          type: string
          enum:
            - client
            - internal
          description: User classification from users.user_type.
        clientId:
          type: string
          format: uuid
          description: Client UUID from contacts.client_id for client-portal users.
        contactId:
          type: string
          format: uuid
          description: Contact UUID from users.contact_id for client-portal users.
        plan:
          type: string
          description: Current tenant billing plan key.
        addons:
          type: array
          items:
            type: string
          description: Enabled tenant add-on keys.
        trial_end:
          type:
            - string
            - "null"
          description: Trial expiry timestamp when present.
        subscription_status:
          type:
            - string
            - "null"
          enum:
            - active
            - trialing
            - past_due
            - unpaid
          description: Billing subscription status copied into the session token.
        solo_pro_trial_end:
          type:
            - string
            - "null"
          description: Solo Pro trial expiry timestamp when present.
        premium_trial_end:
          type:
            - string
            - "null"
          description: Premium trial expiry timestamp when present.
        premium_trial_confirmed:
          type: boolean
          description: Whether the user confirmed the Premium trial.
        premium_trial_effective_date:
          type:
            - string
            - "null"
          description: Premium trial effective date when present.
      required:
        - id
        - email
        - name
        - username
    AuthSessionAuthenticatedResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
          description: Current session UUID from the sessions table, created at sign-in.
        login_method:
          type: string
          description: Authentication method used for this session, such as credentials,
            google, or azure-ad.
        user:
          $ref: "#/components/schemas/AuthSessionUser"
      required:
        - user
    EmptyObjectResponse:
      type: object
      properties: {}
      additionalProperties: false
      description: Empty object returned when no authenticated session is present.
    AuthSessionResponse:
      anyOf:
        - $ref: "#/components/schemas/AuthSessionAuthenticatedResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
      description: Authenticated session data, or an empty object when the request has
        no valid session cookie.
    FlatErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
      required:
        - error
    ValidateApiKeyHeaders:
      type: object
      properties:
        x-api-key:
          type: string
          minLength: 1
          description: Plaintext API key to validate. The service hashes this value before
            looking up the api_keys record.
      required:
        - x-api-key
    ValidateApiKeyResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - true
          description: Indicates that the API key is active and valid.
        userId:
          type: string
          format: uuid
          description: UUID of the user who owns the API key, from api_keys.user_id.
        tenant:
          type: string
          description: Tenant identifier scoped to this API key, from api_keys.tenant.
      required:
        - isValid
        - userId
        - tenant
    ValidateTokenHeaders:
      type: object
      properties:
        authorization:
          type: string
          description: Optional Bearer token fallback. The route also accepts the Auth.js
            session token cookie.
    ValidateTokenSuccessResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - true
          description: Indicates that the request contains a valid Auth.js session token.
        userType:
          type: string
          enum:
            - internal
            - client
          description: User classification from users.user_type in the session JWT.
        tenant:
          type: string
          description: Tenant identifier from the session JWT.
      required:
        - isValid
        - userType
        - tenant
    ValidateTokenUnauthorizedResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - false
          description: No valid session token was found.
      required:
        - isValid
    NextAuthCatchAllParams:
      type: object
      properties:
        nextauth:
          type: string
          description: NextAuth catch-all action path. Common values include csrf,
            providers, signin, signout, session, error, verify-request,
            webauthn-options, callback/credentials, callback/google,
            callback/azure-ad, and callback/keycloak.
      required:
        - nextauth
    NextAuthGetQuery:
      type: object
      properties:
        callbackUrl:
          type: string
          description: Optional URL to redirect to after sign-in or sign-out flows.
        error:
          type: string
          description: Optional NextAuth/OAuth error code shown by sign-in or error pages.
        code:
          type: string
          description: OAuth authorization code for provider callback sub-routes.
        state:
          type: string
          description: OAuth state value for provider callback sub-routes.
        error_description:
          type: string
          description: Human-readable provider error description for OAuth callback
            sub-routes.
    CsrfTokenResponse:
      type: object
      properties:
        csrfToken:
          type: string
          description: Opaque double-submit CSRF token required for mutating NextAuth POST
            actions.
      required:
        - csrfToken
    ProviderInfo:
      type: object
      properties:
        id:
          type: string
          description: Provider identifier such as credentials, google, azure-ad, or
            keycloak.
        name:
          type: string
          description: Provider display name.
        type:
          type: string
          enum:
            - oauth
            - oidc
            - credentials
            - email
            - webauthn
          description: NextAuth provider type.
        signinUrl:
          type: string
          description: URL used to initiate sign-in with this provider.
        callbackUrl:
          type: string
          description: URL the provider redirects to after authentication.
      required:
        - id
        - name
        - type
        - signinUrl
        - callbackUrl
    AuthProvidersResponse:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/ProviderInfo"
      description: Map of configured providers keyed by provider ID.
    NextAuthGetResponse:
      anyOf:
        - $ref: "#/components/schemas/AuthSessionAuthenticatedResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
        - $ref: "#/components/schemas/CsrfTokenResponse"
        - $ref: "#/components/schemas/AuthProvidersResponse"
        - $ref: "#/components/schemas/OAuthCallbackHtmlResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
      description: "Representative successful GET response for the NextAuth catch-all
        route. The exact payload depends on the nextauth action: session returns
        a session object or {}, csrf returns csrfToken, providers returns a
        provider map, and page actions return HTML or redirects."
    NextAuthPostBody:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Credentials-provider email address for callback/credentials.
        password:
          type: string
          description: Credentials-provider plaintext password for callback/credentials.
        twoFactorCode:
          type: string
          description: TOTP code required when two-factor authentication is enabled and
            the device is not trusted.
        userType:
          type: string
          enum:
            - client
            - internal
          description: Optional user type used to scope credentials-provider lookup.
        tenant:
          type: string
          description: Optional tenant slug used to resolve the tenant for
            credentials-provider login.
        csrfToken:
          type: string
          description: CSRF token from GET /api/auth/csrf. Required for sign-in, sign-out,
            and other mutating NextAuth actions.
        callbackUrl:
          type: string
          description: Post-authentication redirect URL.
        redirect:
          type: string
          description: NextAuth redirect mode flag.
        json:
          type: string
          description: NextAuth JSON response mode flag.
        code:
          type: string
          description: OAuth authorization code for provider callback actions.
        state:
          type: string
          description: OAuth state value for provider callback actions.
        error:
          type: string
          description: Provider OAuth error code for callback actions.
        error_description:
          type: string
          description: Provider OAuth error description for callback actions.
    RedirectResponse:
      type: string
      description: HTTP redirect response. NextAuth sets or clears cookies depending
        on the action.
    TelemetrySettingsGetResponse:
      type: object
      properties:
        usageStatsEnabled:
          type: boolean
          description: Whether usage statistics are enabled by the ALGA_USAGE_STATS
            environment variable.
        environmentVariable:
          type: string
          enum:
            - ALGA_USAGE_STATS
          description: Environment variable controlling telemetry collection.
        currentValue:
          type: string
          description: Raw ALGA_USAGE_STATS environment value, or not set when absent.
        controlledBy:
          type: string
          enum:
            - environment
          description: Telemetry is controlled by process environment, not runtime API
            writes.
        message:
          type: string
          description: Human-readable explanation of the current telemetry setting.
      required:
        - usageStatsEnabled
        - environmentVariable
        - currentValue
        - controlledBy
        - message
    TelemetrySettingsPostResponse:
      type: object
      properties:
        usageStatsEnabled:
          type: boolean
          description: Whether usage statistics are enabled by the ALGA_USAGE_STATS
            environment variable.
        controlledBy:
          type: string
          enum:
            - environment
          description: Telemetry is controlled by process environment, not runtime API
            writes.
        message:
          type: string
          description: Explains that telemetry settings cannot be changed through this API.
      required:
        - usageStatsEnabled
        - controlledBy
        - message
    AdminTelemetryErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message such as Authentication required, Insufficient
            permissions, or the handler failure message.
      required:
        - error
    AccessUserIdParamV1:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: User UUID from users.user_id.
      required:
        - id
    AccessRoleIdParamV1:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Role UUID from roles.role_id.
      required:
        - id
    AccessTeamIdParamV1:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Team UUID from teams.team_id.
      required:
        - id
    AccessTeamMemberParamsV1:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Team UUID from teams.team_id.
        userId:
          type: string
          format: uuid
          description: User UUID from users.user_id.
      required:
        - id
        - userId
    AccessTeamPermissionParamsV1:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Team UUID from teams.team_id.
        permissionId:
          type: string
          format: uuid
          description: Permission UUID from permissions.permission_id.
      required:
        - id
        - permissionId
    AccessUserTeamParamsV1:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: User UUID from users.user_id.
        teamId:
          type: string
          format: uuid
          description: Team UUID from teams.team_id.
      required:
        - id
        - teamId
    AccessPermissionIdParamV1:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Permission UUID from permissions.permission_id.
      required:
        - id
    AccessUserListQueryV1:
      type: object
      properties:
        page:
          type: string
        limit:
          type: string
        sort:
          type: string
        order:
          type: string
          enum: &a26
            - asc
            - desc
        username:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        user_type:
          type: string
          enum: &a27
            - internal
            - client
            - admin
            - contractor
        role_id:
          type: string
          format: uuid
        team_id:
          type: string
          format: uuid
        is_inactive:
          type: string
          enum: &a28
            - "true"
            - "false"
        include_permissions:
          type: string
          enum: &a29
            - "true"
            - "false"
        include_teams:
          type: string
          enum: &a30
            - "true"
            - "false"
        fields:
          type: string
    AccessUserSearchQueryV1:
      type: object
      properties:
        query:
          type: string
        fields:
          type: string
          description: Controller query parser sends strings; schema expects an array of
            field names.
        user_type:
          type: string
          enum: &a31
            - internal
            - client
            - admin
            - contractor
        role_id:
          type: string
          format: uuid
        team_id:
          type: string
          format: uuid
        include_inactive:
          type: string
          enum: &a32
            - "true"
            - "false"
        limit:
          type: string
      required:
        - query
    AccessUserActivityQueryV1:
      type: object
      properties:
        page:
          type: string
        limit:
          type: string
        from_date:
          type: string
        to_date:
          type: string
        activity_type:
          type: string
          description: Controller converts single query value to one-element array for
            service filter.
        ip_address:
          type: string
    AccessUserRolesListQueryV1:
      type: object
      properties:
        page:
          type: string
        limit:
          type: string
        search:
          type: string
        is_inactive:
          type: string
          enum: &a24
            - "true"
            - "false"
        sort:
          type: string
        order:
          type: string
          enum: &a25
            - asc
            - desc
    AccessRoleListQueryV1:
      type: object
      properties:
        page:
          type: string
        limit:
          type: string
        sort:
          type: string
        order:
          type: string
          enum: &a17
            - asc
            - desc
        role_name:
          type: string
        has_permissions:
          type: string
          enum: &a18
            - "true"
            - "false"
        permission_resource:
          type: string
        permission_action:
          type: string
        is_template:
          type: string
          enum: &a19
            - "true"
            - "false"
    AccessPermissionListQueryV1:
      type: object
      properties:
        page:
          type: string
        limit:
          type: string
        sort:
          type: string
        order:
          type: string
          enum: &a16
            - asc
            - desc
        resource:
          type: string
        action:
          type: string
    AccessTeamListQueryV1:
      type: object
      properties:
        page:
          type: string
        limit:
          type: string
        sort:
          type: string
        order:
          type: string
          enum: &a20
            - asc
            - desc
        team_name:
          type: string
        manager_id:
          type: string
          format: uuid
        fields:
          type: string
    AccessTeamSearchQueryV1:
      type: object
      properties:
        query:
          type: string
        page:
          type: string
        limit:
          type: string
        manager_id:
          type: string
          format: uuid
        has_manager:
          type: string
          enum: &a21
            - "true"
            - "false"
        sort:
          type: string
        order:
          type: string
          enum: &a22
            - asc
            - desc
    AccessTeamAnalyticsQueryV1:
      type: object
      properties:
        start_date:
          type: string
        end_date:
          type: string
        include_metrics:
          type: string
          description: Controller query parser provides strings; schema expects metric
            array.
        granularity:
          type: string
          enum: &a23
            - daily
            - weekly
            - monthly
    AccessCreateUserBodyV1:
      type: object
      properties:
        username:
          type: string
          minLength: 3
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        timezone:
          type: string
        user_type:
          type: string
          enum: &a1
            - internal
            - client
            - admin
            - contractor
        contact_id:
          type: string
          format: uuid
        two_factor_enabled:
          type: boolean
        is_google_user:
          type: boolean
        is_inactive:
          type: boolean
        role_ids:
          type: array
          items:
            type: string
            format: uuid
      required:
        - username
        - email
        - password
    AccessUpdateUserBodyV1:
      type: object
      properties:
        username:
          type: string
          minLength: 3
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        timezone:
          type: string
        user_type:
          type: string
          enum: *a1
        contact_id:
          type: string
          format: uuid
        two_factor_enabled:
          type: boolean
        is_google_user:
          type: boolean
        is_inactive:
          type: boolean
        role_ids:
          type: array
          items:
            type: string
            format: uuid
    AccessChangePasswordBodyV1:
      type: object
      properties:
        current_password:
          type: string
        new_password:
          type: string
          minLength: 8
        confirm_password:
          type: string
      required:
        - new_password
        - confirm_password
    AccessUserRoleIdsBodyV1:
      type: object
      properties:
        role_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required:
        - role_ids
    AccessUserPreferenceBodyV1:
      type: object
      additionalProperties: {}
      description: Controller forwards request body directly to
        UserService.updateUserPreferences().
    AccessEnable2FABodyV1:
      type: object
      properties:
        secret:
          type: string
        token:
          type: string
      required:
        - secret
        - token
    AccessCreateRoleBodyV1:
      type: object
      properties:
        role_name:
          type: string
        description:
          type: string
        permissions:
          type: array
          items:
            type: string
            format: uuid
        copy_from_role_id:
          type: string
          format: uuid
        is_template:
          type: boolean
      required:
        - role_name
    AccessUpdateRoleBodyV1:
      type: object
      properties:
        role_name:
          type: string
        description:
          type: string
        permissions:
          type: array
          items:
            type: string
            format: uuid
        is_template:
          type: boolean
    AccessRoleCloneBodyV1:
      type: object
      properties:
        new_role_name:
          type: string
        new_description:
          type: string
        copy_permissions:
          type: boolean
        copy_user_assignments:
          type: boolean
      required:
        - new_role_name
    AccessRolePermissionsBodyV1:
      type: object
      properties:
        permission_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required:
        - permission_ids
    AccessBulkRolesBodyV1:
      type: object
      properties:
        roles:
          type: array
          items:
            $ref: "#/components/schemas/AccessCreateRoleBodyV1"
          minItems: 1
      required:
        - roles
    AccessCreatePermissionBodyV1:
      type: object
      properties:
        resource:
          type: string
        action:
          type: string
        description:
          type: string
      required:
        - resource
        - action
    AccessUpdatePermissionBodyV1:
      type: object
      properties:
        resource:
          type: string
        action:
          type: string
        description:
          type: string
    AccessPermissionChecksBodyV1:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        permissions:
          type: array
          items:
            type: object
            properties:
              resource:
                type: string
              action:
                type: string
            required:
              - resource
              - action
          minItems: 1
      required:
        - permissions
    AccessCreateTeamBodyV1:
      type: object
      properties:
        team_name:
          type: string
        manager_id:
          type: string
          format: uuid
        members:
          type: array
          items:
            type: object
            additionalProperties: {}
      required:
        - team_name
    AccessUpdateTeamBodyV1:
      type: object
      properties:
        team_name:
          type: string
        manager_id:
          type: string
          format: uuid
        members:
          type: array
          items:
            type: object
            additionalProperties: {}
    AccessAddTeamMemberBodyV1:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
      required:
        - user_id
    AccessBulkAddTeamMembersBodyV1:
      type: object
      properties:
        user_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required:
        - user_ids
    AccessAssignTeamManagerBodyV1:
      type: object
      properties:
        manager_id:
          type: string
          format: uuid
      required:
        - manager_id
    AccessTeamPermissionGrantBodyV1:
      type: object
      properties:
        resource:
          type: string
          description: Controller also accepts permission alias field.
        permission:
          type: string
        action:
          type: string
        expires_at:
          type: string
    AccessTeamHierarchyBodyV1:
      type: object
      properties:
        parent_team_id:
          type:
            - string
            - "null"
          format: uuid
    AccessTeamBulkUpdateBodyV1:
      type: object
      properties:
        team_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
        updates:
          type: object
          additionalProperties: {}
      required:
        - team_ids
        - updates
    AccessTeamBulkDeleteBodyV1:
      type: object
      properties:
        team_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required:
        - team_ids
    AccessApiErrorV1:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
          required:
            - code
            - message
      required:
        - error
    AccessApiSuccessV1:
      type: object
      properties:
        data: {}
        meta:
          type: object
          additionalProperties: {}
    AccessApiPaginatedV1:
      type: object
      properties:
        data:
          type: array
          items: {}
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    AssetListQuery:
      type: object
      properties:
        page:
          type: string
          description: Page number as a query string. Defaults to 1 after validation.
        limit:
          type: string
          description: Page size as a query string. Must parse to 1 through 100; defaults
            to 25.
        sort:
          type: string
          description: Sort column. Defaults to created_at.
        order:
          type: string
          enum: &a33
            - asc
            - desc
          description: Sort direction. Defaults to desc.
        search:
          type: string
          description: General search filter accepted by the shared filter schema. The
            current AssetService.list implementation does not apply this filter.
        created_from:
          type: string
          format: date-time
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        created_to:
          type: string
          format: date-time
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        updated_from:
          type: string
          format: date-time
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        updated_to:
          type: string
          format: date-time
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        is_active:
          type: string
          enum: &a34
            - "true"
            - "false"
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        asset_tag:
          type: string
          description: Partial asset tag match using ILIKE.
        name:
          type: string
          description: Partial asset name match using ILIKE.
        client_id:
          type: string
          format: uuid
          description: Client UUID from clients.client_id.
        asset_type:
          type: string
          enum: &a2
            - workstation
            - network_device
            - server
            - mobile_device
            - printer
            - unknown
          description: Asset type stored in assets.asset_type.
        status:
          type: string
          description: Exact asset status match.
        location:
          type: string
          description: Partial location match using ILIKE.
        client_name:
          type: string
          description: Partial client name match; joins clients on client_id and tenant.
        has_warranty:
          type: string
          enum: &a35
            - "true"
            - "false"
          description: true requires warranty_end_date to be non-null; false requires it
            to be null.
        warranty_expired:
          type: string
          enum: &a36
            - "true"
            - "false"
          description: true filters warranty_end_date before now; false filters future
            warranty dates or no warranty.
        maintenance_due:
          type: string
          enum: &a37
            - "true"
            - "false"
          description: Accepted by validation, but not currently applied by
            AssetService.list.
        purchase_date_from:
          type: string
          format: date-time
          description: Filter purchase_date greater than or equal to this timestamp.
        purchase_date_to:
          type: string
          format: date-time
          description: Filter purchase_date less than or equal to this timestamp.
        warranty_end_from:
          type: string
          format: date-time
          description: Filter warranty_end_date greater than or equal to this timestamp.
        warranty_end_to:
          type: string
          format: date-time
          description: Filter warranty_end_date less than or equal to this timestamp.
    AssetExportQuery:
      type: object
      properties:
        format:
          type: string
          enum: &a38
            - csv
            - json
            - xlsx
          description: Export format. csv returns text/csv; json and xlsx currently return
            the same JSON envelope.
        include_extension_data:
          type: string
          enum: &a39
            - "true"
            - "false"
          description: Accepted by validation, but currently ignored by
            ApiAssetController.export.
        include_maintenance:
          type: string
          enum: &a40
            - "true"
            - "false"
          description: Accepted by validation, but currently ignored by
            ApiAssetController.export.
        include_documents:
          type: string
          enum: &a41
            - "true"
            - "false"
          description: Accepted by validation, but currently ignored by
            ApiAssetController.export.
        asset_types:
          type: array
          items:
            type: string
            enum: *a2
          description: Accepted by validation as an array, but the controller builds query
            values with Object.fromEntries and does not apply this filter.
        statuses:
          type: array
          items:
            type: string
          description: Accepted by validation as an array, but not currently applied.
        client_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Accepted by validation as an array, but not currently applied.
        fields:
          type: array
          items:
            type: string
          description: Accepted by validation as an array, but not currently used to
            select export columns.
    AssetIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Asset UUID from assets.asset_id.
      required:
        - id
    AssetDocumentAssociationParams:
      type: object
      properties:
        associationId:
          type: string
          format: uuid
          description: Document association UUID from document_associations.association_id.
      required:
        - associationId
    AssetDocumentAssociationRequest:
      type: object
      properties:
        document_id:
          type: string
          format: uuid
          description: Document UUID from documents.document_id to associate with the asset.
        notes:
          type: string
          description: Optional notes stored on document_associations.notes.
      required:
        - document_id
    AssetExtensionData:
      type: object
      additionalProperties: {}
      description: Asset-type-specific extension data written to the corresponding
        extension table for workstation, network device, server, mobile device,
        or printer assets.
    AssetCreateRequest:
      type: object
      properties:
        client_id:
          type: string
          format: uuid
          description: Client UUID from clients.client_id. Required.
        asset_type:
          type: string
          enum: *a2
          description: Asset type. Determines the optional extension data table.
        asset_tag:
          type: string
          minLength: 1
          maxLength: 255
          description: Required tenant-specific asset tag.
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Required asset name.
        status:
          type: string
          minLength: 1
          description: Required asset status.
        location:
          type: string
          description: Optional asset location.
        serial_number:
          type: string
          description: Optional serial number.
        purchase_date:
          type: string
          format: date-time
          description: Optional purchase date/time.
        warranty_end_date:
          type: string
          format: date-time
          description: Optional warranty end date/time.
        extension_data:
          $ref: "#/components/schemas/AssetExtensionData"
      required:
        - client_id
        - asset_type
        - asset_tag
        - name
        - status
    AssetUpdateData:
      type: object
      properties:
        client_id:
          type: string
          format: uuid
          description: Client UUID to assign to the asset.
        asset_type:
          type: string
          enum: *a2
          description: Asset type to store in assets.asset_type.
        asset_tag:
          type: string
          minLength: 1
          maxLength: 255
          description: Tenant-specific asset tag.
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Asset name.
        status:
          type: string
          minLength: 1
          description: Asset status.
        location:
          type: string
          description: Asset location.
        serial_number:
          type: string
          description: Serial number.
        purchase_date:
          type: string
          format: date-time
          description: Purchase date/time.
        warranty_end_date:
          type: string
          format: date-time
          description: Warranty end date/time.
    AssetBulkUpdateRequest:
      type: object
      properties:
        assets:
          type: array
          items:
            type: object
            properties:
              asset_id:
                type: string
                format: uuid
                description: Asset UUID from assets.asset_id.
              data:
                allOf:
                  - $ref: "#/components/schemas/AssetUpdateData"
                  - description: Partial update data validated with updateAssetSchema.
            required:
              - asset_id
              - data
          minItems: 1
          maxItems: 50
          description: Assets to update. Limited to 1 through 50 entries by validation.
      required:
        - assets
    AssetBulkStatusRequest:
      type: object
      properties:
        asset_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 50
          description: Asset UUIDs from assets.asset_id. Limited to 1 through 50 entries
            by validation.
        status:
          type: string
          minLength: 1
          description: New status assigned to every asset in asset_ids.
      required:
        - asset_ids
        - status
    HateoasLink:
      type: object
      properties:
        href:
          type: string
          description: Target URL for the related operation.
        method:
          type: string
          description: HTTP method for the link when supplied.
      required:
        - href
    AssetLinks:
      type: object
      properties:
        self:
          $ref: "#/components/schemas/HateoasLink"
        edit:
          $ref: "#/components/schemas/HateoasLink"
        delete:
          $ref: "#/components/schemas/HateoasLink"
        list:
          $ref: "#/components/schemas/HateoasLink"
        documents:
          $ref: "#/components/schemas/HateoasLink"
        maintenance:
          $ref: "#/components/schemas/HateoasLink"
        history:
          $ref: "#/components/schemas/HateoasLink"
      description: HATEOAS links generated from the asset_id.
    AssetDocumentAssociationRow:
      type: object
      properties:
        association_id:
          type: string
          format: uuid
          description: Primary key from document_associations.association_id.
        entity_type:
          type: string
          enum:
            - asset
          description: Entity type stored on document_associations; always asset for these
            routes.
        entity_id:
          type: string
          format: uuid
          description: Asset UUID from document_associations.entity_id.
        document_id:
          type: string
          format: uuid
          description: Document UUID from document_associations.document_id.
        notes:
          type:
            - string
            - "null"
          description: Optional association notes.
        tenant:
          type: string
          format: uuid
          description: Tenant UUID from document_associations.tenant.
        created_at:
          type: string
          format: date-time
          description: Association creation timestamp.
        original_filename:
          type: string
          description: Original filename from the joined documents table, present on list
            responses.
        file_size:
          type: number
          description: File size in bytes from the joined documents table, present on list
            responses.
        mime_type:
          type: string
          description: MIME type from the joined documents table, present on list responses.
        uploaded_at:
          type: string
          format: date-time
          description: Document upload timestamp from the joined documents table, present
            on list responses.
      required:
        - association_id
        - entity_type
        - entity_id
        - document_id
        - tenant
    AssetDocumentListPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetDocumentAssociationRow"
          description: Document association rows for the asset. Empty when no associations
            exist or the asset is not found.
        _links:
          type: object
          properties:
            self:
              $ref: "#/components/schemas/HateoasLink"
            create:
              $ref: "#/components/schemas/HateoasLink"
            parent:
              $ref: "#/components/schemas/HateoasLink"
          description: Collection links. The controller currently points these at
            /api/v2/assets paths.
      required:
        - data
        - _links
    AssetDocumentListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetDocumentListPayload"
        meta:
          type: object
          properties:
            timestamp:
              type: string
              format: date-time
            version:
              type: string
          required:
            - timestamp
            - version
      required:
        - success
        - data
        - meta
    AssetDocumentAssociationPayload:
      type: object
      properties:
        data:
          allOf:
            - $ref: "#/components/schemas/AssetDocumentAssociationRow"
            - description: Inserted document association row returned from
                document_associations.returning(*).
      required:
        - data
    AssetDocumentAssociationResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetDocumentAssociationPayload"
        meta:
          type: object
          properties:
            timestamp:
              type: string
              format: date-time
            version:
              type: string
          required:
            - timestamp
            - version
      required:
        - success
        - data
        - meta
    AssetResource:
      type: object
      properties:
        asset_id:
          type: string
          format: uuid
          description: Primary key from assets.asset_id.
        client_id:
          type: string
          format: uuid
          description: Client UUID from assets.client_id.
        asset_type:
          type: string
          enum: *a2
          description: Asset type stored in assets.asset_type.
        asset_tag:
          type: string
          description: Tenant-specific asset tag.
        name:
          type: string
          description: Asset display name.
        status:
          type: string
          description: Asset status.
        location:
          type:
            - string
            - "null"
          description: Asset location, when recorded.
        serial_number:
          type:
            - string
            - "null"
          description: Asset serial number, when recorded.
        purchase_date:
          type:
            - string
            - "null"
          description: Asset purchase date from assets.purchase_date.
        warranty_end_date:
          type:
            - string
            - "null"
          description: Warranty end date from assets.warranty_end_date.
        created_at:
          type: string
          format: date-time
          description: Asset creation timestamp.
        updated_at:
          type: string
          format: date-time
          description: Asset last update timestamp.
        tenant:
          type: string
          format: uuid
          description: Tenant UUID from assets.tenant; filtered to the authenticated
            request context.
        client_name:
          type: string
          description: Client name selected from the joined clients table.
        warranty_status:
          type: string
          enum:
            - no_warranty
            - expired
            - expiring_soon
            - active
          description: Computed from warranty_end_date by SQL CASE expression.
        maintenance_status:
          type: string
          description: Optional computed maintenance status when present in service results.
        extension_data:
          allOf:
            - $ref: "#/components/schemas/AssetExtensionData"
            - type:
                - object
                - "null"
              description: Asset-type-specific extension data returned by getWithDetails after
                create.
        relationships:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Related asset rows included by getWithDetails after create.
        documents:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Associated document rows included by getWithDetails after create.
        maintenance_schedules:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Maintenance schedule rows included by getWithDetails after create.
        _links:
          $ref: "#/components/schemas/AssetLinks"
      required:
        - asset_id
        - client_id
        - asset_type
        - asset_tag
        - name
        - status
        - created_at
        - updated_at
        - tenant
    AssetListPagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number.
        limit:
          type: integer
          description: Page size.
        total:
          type: integer
          description: Total matching asset count.
        totalPages:
          type: integer
          description: Total number of pages calculated from total and limit.
      required:
        - page
        - limit
        - total
        - totalPages
    AssetCollectionLinks:
      type: object
      properties:
        self:
          $ref: "#/components/schemas/HateoasLink"
        create:
          $ref: "#/components/schemas/HateoasLink"
        search:
          $ref: "#/components/schemas/HateoasLink"
        export:
          $ref: "#/components/schemas/HateoasLink"
        stats:
          $ref: "#/components/schemas/HateoasLink"
      description: Collection links returned by ApiAssetController.list. These
        currently point at /api/v2/assets paths.
    ApiResponseMeta:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Response timestamp generated by
            createApiResponse/createErrorResponse.
        version:
          type: string
          description: API response version string.
      required:
        - timestamp
        - version
    AssetListPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetResource"
          description: Asset records for the requested page.
        pagination:
          $ref: "#/components/schemas/AssetListPagination"
        _links:
          $ref: "#/components/schemas/AssetCollectionLinks"
      required:
        - data
        - pagination
        - _links
    AssetListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Indicates the controller returned a successful response envelope.
        data:
          allOf:
            - $ref: "#/components/schemas/AssetListPayload"
            - description: Nested payload passed to createApiResponse by
                ApiAssetController.list.
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetResourcePayload:
      type: object
      properties:
        data:
          allOf:
            - $ref: "#/components/schemas/AssetResource"
            - description: Asset record returned by the service.
      required:
        - data
    AssetResourceResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          allOf:
            - $ref: "#/components/schemas/AssetResourcePayload"
            - description: Nested payload passed to createApiResponse by
                ApiAssetController.create.
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetBulkUpdatePayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetResource"
          description: Updated asset rows returned from AssetService.update.
        message:
          type: string
          description: Human-readable count of updated assets.
      required:
        - data
        - message
    AssetBulkUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetBulkUpdatePayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetExportJsonPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetResource"
          description: All asset rows returned by AssetService.list with default list
            options. Export filters are currently not applied.
      required:
        - data
    AssetExportJsonResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetExportJsonPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetApiErrorEnvelope:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - false
          description: Indicates the API response is an error envelope.
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message.
            code:
              type: string
              description: Machine-readable error code such as VALIDATION_ERROR or
                INTERNAL_ERROR.
            details:
              description: Optional structured details, including Zod validation errors.
          required:
            - message
            - code
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - error
    AssetMiddlewareUnauthorizedResponse:
      type: object
      properties:
        error:
          type: string
          description: "Middleware-level error, usually Unauthorized: API key missing."
      required:
        - error
    AssetMaintenanceScheduleParams:
      type: object
      properties:
        scheduleId:
          type: string
          format: uuid
          description: Maintenance schedule UUID from
            asset_maintenance_schedules.schedule_id.
      required:
        - scheduleId
    AssetRelationshipParams:
      type: object
      properties:
        relationshipId:
          type: string
          format: uuid
          description: Asset relationship UUID from asset_relationships.relationship_id.
      required:
        - relationshipId
    AssetMaintenanceScheduleUpdateRequest:
      type: object
      properties:
        schedule_type:
          type: string
          enum:
            - preventive
            - inspection
            - calibration
            - replacement
          description: Type of maintenance schedule.
        frequency:
          type: string
          enum:
            - daily
            - weekly
            - monthly
            - quarterly
            - yearly
            - custom
          description: Recurrence frequency. Changing this triggers next_maintenance
            recalculation.
        frequency_interval:
          type: number
          minimum: 1
          description: Frequency multiplier used when calculating the next maintenance date.
        start_date:
          type: string
          format: date-time
          description: Schedule start date/time. Changing this triggers next_maintenance
            recalculation.
        end_date:
          type: string
          format: date-time
          description: Optional schedule end date/time.
        notes:
          type: string
          description: Free-text schedule notes.
        assigned_to:
          type: string
          format: uuid
          description: Assigned user UUID from users.user_id.
        is_active:
          type: boolean
          description: Whether the schedule is active.
        schedule_config:
          type: object
          additionalProperties: {}
          description: Custom scheduling configuration.
    AssetMaintenanceScheduleResource:
      type: object
      properties:
        schedule_id:
          type: string
          format: uuid
          description: Primary key from asset_maintenance_schedules.schedule_id.
        asset_id:
          type: string
          format: uuid
          description: Asset UUID from asset_maintenance_schedules.asset_id.
        schedule_type:
          type: string
          description: Maintenance schedule type as used by ApiAssetController.
        frequency:
          type: string
          description: Recurrence frequency.
        frequency_interval:
          type:
            - number
            - "null"
          description: Frequency multiplier.
        start_date:
          type:
            - string
            - "null"
          description: Schedule start date/time.
        end_date:
          type:
            - string
            - "null"
          description: Schedule end date/time.
        last_maintenance:
          type:
            - string
            - "null"
          description: Last recorded maintenance date/time.
        next_maintenance:
          type:
            - string
            - "null"
          description: Next calculated maintenance date/time.
        notes:
          type:
            - string
            - "null"
          description: Free-text schedule notes.
        assigned_to:
          type:
            - string
            - "null"
          format: uuid
          description: Assigned user UUID.
        is_active:
          type: boolean
          description: Whether the schedule is active.
        schedule_config:
          type:
            - object
            - "null"
          additionalProperties: {}
          description: Custom scheduling configuration.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp.
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp.
        tenant:
          type: string
          format: uuid
          description: Tenant UUID scoped from the request context.
      required:
        - schedule_id
        - asset_id
        - tenant
    AssetMaintenanceSchedulePayload:
      type: object
      properties:
        data:
          allOf:
            - $ref: "#/components/schemas/AssetMaintenanceScheduleResource"
            - description: Updated schedule row. Undefined when the schedule ID does not exist
                or belongs to another tenant.
    AssetMaintenanceScheduleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetMaintenanceSchedulePayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetMaintenanceScheduleCreateRequest:
      type: object
      properties:
        schedule_type:
          type: string
          enum:
            - preventive
            - inspection
            - calibration
            - replacement
          description: Required type of maintenance schedule.
        frequency:
          type: string
          enum:
            - daily
            - weekly
            - monthly
            - quarterly
            - yearly
            - custom
          description: Required recurrence frequency used to calculate next_maintenance.
        frequency_interval:
          type: number
          minimum: 1
          description: Frequency multiplier. Defaults to service logic when absent.
        start_date:
          type: string
          format: date-time
          description: Schedule start date/time. The current schema makes this optional;
            the service falls back to now when absent.
        end_date:
          type: string
          format: date-time
          description: Optional schedule end date/time.
        notes:
          type: string
          description: Free-text schedule notes.
        assigned_to:
          type: string
          format: uuid
          description: Assigned user UUID from users.user_id.
        is_active:
          type: boolean
          description: Whether the schedule is active. Defaults to true in validation.
        schedule_config:
          type: object
          additionalProperties: {}
          description: Custom scheduling configuration.
      required:
        - schedule_type
        - frequency
    AssetMaintenanceScheduleListPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetMaintenanceScheduleResource"
          description: Maintenance schedule rows for the asset. Empty when no schedules
            exist or the asset is not found.
        _links:
          type: object
          properties:
            self:
              $ref: "#/components/schemas/HateoasLink"
            create:
              $ref: "#/components/schemas/HateoasLink"
            history:
              $ref: "#/components/schemas/HateoasLink"
            parent:
              $ref: "#/components/schemas/HateoasLink"
          description: Collection links. The controller currently points these at
            /api/v2/assets paths.
      required:
        - data
        - _links
    AssetMaintenanceScheduleListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetMaintenanceScheduleListPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetMaintenanceHistoryResource:
      type: object
      properties:
        history_id:
          type: string
          format: uuid
          description: Primary key from asset_maintenance_history.history_id.
        asset_id:
          type: string
          format: uuid
          description: Asset UUID from asset_maintenance_history.asset_id.
        schedule_id:
          type:
            - string
            - "null"
          format: uuid
          description: Optional related maintenance schedule UUID.
        maintenance_type:
          anyOf:
            - type: string
              enum:
                - preventive
                - corrective
                - inspection
                - calibration
                - replacement
            - type: string
          description: Maintenance type recorded for the history row.
        performed_by:
          type: string
          format: uuid
          description: User UUID supplied in the maintenance record.
        performed_at:
          type: string
          format: date-time
          description: Timestamp when maintenance was performed.
        duration_hours:
          type:
            - number
            - "null"
          description: Maintenance duration in hours, when recorded.
        cost:
          type:
            - number
            - "null"
          description: Maintenance cost, when recorded.
        notes:
          type:
            - string
            - "null"
          description: Free-text notes.
        parts_used:
          type:
            - array
            - "null"
          items:
            type: string
          description: Parts used, when recorded.
        maintenance_data:
          type:
            - object
            - "null"
          additionalProperties: {}
          description: Arbitrary structured maintenance data.
        description:
          type:
            - string
            - "null"
          description: Description column when present in the maintenance history table.
        created_at:
          type: string
          format: date-time
          description: History creation timestamp.
        tenant:
          type: string
          format: uuid
          description: Tenant UUID scoped from the request context.
        performed_by_user_name:
          type:
            - string
            - "null"
          description: Concatenated user name from the joined users table.
      required:
        - history_id
        - asset_id
        - maintenance_type
        - performed_by
        - performed_at
        - created_at
        - tenant
    AssetMaintenanceHistoryPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetMaintenanceHistoryResource"
          description: Maintenance history rows ordered by performed_at descending.
        _links:
          type: object
          properties:
            self:
              $ref: "#/components/schemas/HateoasLink"
            schedules:
              $ref: "#/components/schemas/HateoasLink"
            parent:
              $ref: "#/components/schemas/HateoasLink"
          description: History links. The controller currently points these at
            /api/v2/assets paths.
      required:
        - data
        - _links
    AssetMaintenanceHistoryResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetMaintenanceHistoryPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetRecordMaintenanceRequest:
      type: object
      properties:
        schedule_id:
          type: string
          format: uuid
          description: Optional maintenance schedule UUID. If present and found for the
            tenant, the schedule last_maintenance and next_maintenance are
            updated.
        maintenance_type:
          type: string
          enum:
            - preventive
            - corrective
            - inspection
            - calibration
            - replacement
          description: Required type of maintenance performed.
        performed_by:
          type: string
          format: uuid
          description: Required UUID of the user who performed maintenance. The service
            does not validate this user before insert.
        performed_at:
          type: string
          format: date-time
          description: Required timestamp when maintenance was performed.
        duration_hours:
          type: number
          minimum: 0
          description: Optional duration in hours.
        cost:
          type: number
          minimum: 0
          description: Optional cost.
        notes:
          type: string
          description: Optional notes.
        parts_used:
          type: array
          items:
            type: string
          description: Optional list of parts used.
        maintenance_data:
          type: object
          additionalProperties: {}
          description: Optional structured maintenance data.
      required:
        - maintenance_type
        - performed_by
        - performed_at
    AssetRecordMaintenancePayload:
      type: object
      properties:
        data:
          allOf:
            - $ref: "#/components/schemas/AssetMaintenanceHistoryResource"
            - description: Inserted asset_maintenance_history row returned from the database.
      required:
        - data
    AssetRecordMaintenanceResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetRecordMaintenancePayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetRelationshipCreateRequest:
      type: object
      properties:
        related_asset_id:
          type: string
          format: uuid
          description: Related asset UUID from assets.asset_id.
        relationship_type:
          type: string
          minLength: 1
          description: Free-form relationship type. Must be non-empty.
      required:
        - related_asset_id
        - relationship_type
    AssetRelationshipRow:
      type: object
      properties:
        relationship_id:
          type: string
          format: uuid
          description: Primary key from asset_relationships.relationship_id.
        asset_id:
          type: string
          format: uuid
          description: Source asset UUID from asset_relationships.asset_id.
        related_asset_id:
          type: string
          format: uuid
          description: Related asset UUID from asset_relationships.related_asset_id.
        relationship_type:
          type: string
          description: Free-form relationship type.
        tenant:
          type: string
          format: uuid
          description: Tenant UUID from asset_relationships.tenant.
        created_at:
          type: string
          format: date-time
          description: Relationship creation timestamp.
        asset_tag:
          type: string
          description: Related asset tag from joined related_assets, present in list
            responses.
        related_asset_name:
          type: string
          description: Related asset name from joined related_assets, present in list
            responses.
        asset_type:
          type: string
          enum: *a2
          description: Related asset type from joined related_assets, present in list
            responses.
        status:
          type: string
          description: Related asset status from joined related_assets, present in list
            responses.
      required:
        - relationship_id
        - asset_id
        - related_asset_id
        - relationship_type
        - tenant
    AssetRelationshipListPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetRelationshipRow"
          description: Relationship rows for the asset. Empty when no relationships exist
            or the asset is not found.
        _links:
          type: object
          properties:
            self:
              $ref: "#/components/schemas/HateoasLink"
            create:
              $ref: "#/components/schemas/HateoasLink"
            parent:
              $ref: "#/components/schemas/HateoasLink"
          description: Relationship links. The controller currently points these at
            /api/v2/assets paths.
      required:
        - data
        - _links
    AssetRelationshipListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetRelationshipListPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetRelationshipPayload:
      type: object
      properties:
        data:
          allOf:
            - $ref: "#/components/schemas/AssetRelationshipRow"
            - description: Inserted asset_relationships row returned from the database.
      required:
        - data
    AssetRelationshipResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetRelationshipPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetSearchQuery:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          description: Required search term used in ILIKE clauses.
        fields:
          type: array
          items:
            type: string
            enum: &a42
              - asset_tag
              - name
              - serial_number
              - location
              - client_name
          description: Search fields. If omitted, the service searches asset_tag, name,
            serial_number, and location.
        asset_types:
          type: array
          items:
            type: string
            enum: *a2
          description: Optional asset type filters.
        statuses:
          type: array
          items:
            type: string
          description: Optional status filters.
        client_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Optional client UUID filters.
        include_extension_data:
          type: string
          enum: &a43
            - "true"
            - "false"
          description: When true, the service fetches asset-type-specific extension data
            for every result.
        limit:
          type: string
          description: Maximum result count as a query string. Must parse to 1 through
            100; defaults to 25.
      required:
        - query
    AssetSearchPayload:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AssetResource"
          description: Matching assets with HATEOAS links.
        _links:
          type: object
          properties:
            self:
              $ref: "#/components/schemas/HateoasLink"
          description: Search collection link. The controller currently points this at
            /api/v2/assets/search.
      required:
        - data
        - _links
    AssetSearchResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetSearchPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AssetStatsPayload:
      type: object
      properties:
        data:
          type: object
          properties:
            total_assets:
              type: integer
              description: Total asset count for the tenant.
            assets_added_this_month:
              type: integer
              description: Count of assets created since the start of the current month.
            average_asset_age_days:
              type:
                - integer
                - "null"
              description: Rounded average age in days from purchase_date, or null when
                unavailable.
            total_asset_value:
              type: number
              description: Sum of purchase_price values, treating null as zero.
            assets_by_type:
              type: object
              additionalProperties:
                type: integer
              description: Counts grouped by assets.asset_type.
            assets_by_status:
              type: object
              additionalProperties:
                type: integer
              description: Counts grouped by assets.status.
            assets_by_client:
              type: object
              additionalProperties:
                type: integer
              description: Top client counts grouped by clients.client_name. The service
                limits this grouping to 10 clients.
            warranty_expiring_soon:
              type: integer
              description: Count of warranties ending within 30 days.
            warranty_expired:
              type: integer
              description: Count of warranties already expired.
            maintenance_due:
              type: integer
              description: Count of active maintenance schedules with next_maintenance due now
                or earlier.
            maintenance_overdue:
              type: integer
              description: Count of active maintenance schedules overdue by more than seven
                days.
          required:
            - total_assets
            - assets_added_this_month
            - average_asset_age_days
            - total_asset_value
            - assets_by_type
            - assets_by_status
            - assets_by_client
            - warranty_expiring_soon
            - warranty_expired
            - maintenance_due
            - maintenance_overdue
        _links:
          type: object
          properties:
            self:
              $ref: "#/components/schemas/HateoasLink"
            assets:
              $ref: "#/components/schemas/HateoasLink"
          description: Stats links. The controller currently points these at
            /api/v2/assets paths.
      required:
        - data
        - _links
    AssetStatsResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          $ref: "#/components/schemas/AssetStatsPayload"
        meta:
          $ref: "#/components/schemas/ApiResponseMeta"
      required:
        - success
        - data
        - meta
    AutomationExecutionParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Automation execution UUID from automation_executions.execution_id.
      required:
        - id
    AutomationRuleParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Automation rule UUID from automation_rules.rule_id.
      required:
        - id
    AutomationTemplateParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Automation template UUID from automation_templates.template_id.
      required:
        - id
    AutomationExecutionsListQuery:
      type: object
      properties:
        page:
          type: string
          description: Page number as a query string. Defaults to 1.
        limit:
          type: string
          description: Page size as a query string. Must parse to 1 through 100; defaults
            to 25.
        sort:
          type: string
          description: Accepted by shared list query validation; the service currently
            orders executions by started_at desc.
        order:
          type: string
          enum: &a44
            - asc
            - desc
          description: Accepted by shared list query validation.
        search:
          type: string
          description: Accepted by shared filter validation.
        created_from:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        created_to:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        updated_from:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        updated_to:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        is_active:
          type: string
          enum: &a45
            - "true"
            - "false"
          description: Accepted by shared filter validation and transformed to boolean.
        automation_rule_id:
          type: string
          format: uuid
          description: Filter executions by parent automation rule UUID.
        status:
          type: string
          enum: &a4
            - pending
            - running
            - completed
            - failed
            - cancelled
            - timeout
            - skipped
          description: Filter by execution status.
        started_from:
          type: string
          format: date-time
          description: Filter executions started at or after this timestamp.
        started_to:
          type: string
          format: date-time
          description: Filter executions started at or before this timestamp.
        duration_min_ms:
          type: number
          minimum: 0
          description: Minimum execution duration in milliseconds.
        duration_max_ms:
          type: number
          minimum: 0
          description: Maximum execution duration in milliseconds.
        has_errors:
          type: string
          enum: &a46
            - "true"
            - "false"
          description: Filter by whether the execution has errors; transformed to boolean
            by validation.
        trigger_type:
          type: string
          enum: &a3
            - time_based
            - event_based
            - condition_based
            - manual
            - recurring
            - webhook
          description: Filter by automation trigger type.
    AutomationRulesListQuery:
      type: object
      properties:
        page:
          type: string
          description: Page number as a query string. Defaults to 1.
        limit:
          type: string
          description: Page size as a query string. Must parse to 1 through 100; defaults
            to 25.
        sort:
          type: string
          description: Accepted by shared list query validation; service currently orders
            rules by created_at desc.
        order:
          type: string
          enum: &a47
            - asc
            - desc
          description: Accepted by shared list query validation.
        search:
          type: string
          description: Accepted by shared filter validation.
        created_from:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        created_to:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        updated_from:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        updated_to:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        is_active:
          type: string
          enum: &a48
            - "true"
            - "false"
          description: Accepted by shared filter validation and transformed to boolean.
        name:
          type: string
          description: Optional rule name filter.
        status:
          type: string
          enum: &a6
            - active
            - inactive
            - draft
            - error
          description: Filter by automation rule status.
        trigger_type:
          type: string
          enum: *a3
          description: Filter by trigger type.
        priority:
          type: string
          enum: &a7
            - low
            - normal
            - high
            - critical
          description: Filter by priority level.
        template_category:
          type: string
          description: Filter template category.
        created_by:
          type: string
          format: uuid
          description: Filter by creator user UUID from automation_rules.created_by.
        last_executed_from:
          type: string
          format: date-time
          description: Filter for rules last executed at or after timestamp.
        last_executed_to:
          type: string
          format: date-time
          description: Filter for rules last executed at or before timestamp.
        execution_count_min:
          type: integer
          minimum: 0
          description: Minimum execution count filter.
        execution_count_max:
          type: integer
          minimum: 0
          description: Maximum execution count filter.
    AutomationTemplatesListQuery:
      type: object
      properties:
        page:
          type: string
          description: Page number as a query string. Defaults to 1.
        limit:
          type: string
          description: Page size as a query string. Must parse to 1 through 100; defaults
            to 25.
        sort:
          type: string
          description: Accepted by shared list query validation; service currently orders
            templates by created_at desc.
        order:
          type: string
          enum: &a49
            - asc
            - desc
          description: Accepted by shared list query validation.
        search:
          type: string
          description: Accepted by shared filter validation.
        created_from:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        created_to:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        updated_from:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        updated_to:
          type: string
          format: date-time
          description: Accepted by shared filter validation.
        is_active:
          type: string
          enum: &a50
            - "true"
            - "false"
          description: Accepted by shared filter validation and transformed to boolean.
        category:
          type: string
          description: Filter templates by category.
        compatible_version:
          type: string
          description: Filter templates by compatibility version tag.
        author:
          type: string
          description: Filter templates by author/user id value saved on the template.
        usage_count_min:
          type: integer
          minimum: 0
          description: Minimum usage_count filter.
        usage_count_max:
          type: integer
          minimum: 0
          description: Maximum usage_count filter.
    AutomationPerformanceQuery:
      type: object
      properties:
        date_from:
          type: string
          format: date-time
          description: Optional lower bound for performance window.
        date_to:
          type: string
          format: date-time
          description: Optional upper bound for performance window.
        group_by:
          type: string
          enum: &a51
            - hour
            - day
            - week
            - month
          description: Aggregation bucket size; defaults to day.
        rule_ids:
          type: string
          description: Raw query value copied from URL. The controller expects an array
            UUID schema but validateQueryParams passes string values, so array
            filters currently require custom caller-side encoding or fail
            validation.
        metrics:
          type: string
          description: Raw query value copied from URL. The controller expects an array
            enum schema but validateQueryParams passes string values, so array
            filters currently require custom caller-side encoding or fail
            validation.
    AutomationExecutionLogEntry:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Log timestamp.
        level:
          type: string
          enum:
            - debug
            - info
            - warn
            - error
          description: Log level.
        message:
          type: string
          description: Log message.
        action_index:
          type: integer
          description: Optional action index that produced the log.
        metadata:
          type: object
          additionalProperties: {}
          description: Optional structured log metadata.
      required:
        - level
        - message
    AutomationLinks:
      type: object
      additionalProperties: {}
      description: HATEOAS links generated by the automation controller. Some generic
        links may point to methods not implemented by a route file.
    AutomationExecution:
      type: object
      properties:
        execution_id:
          type: string
          format: uuid
          description: Execution UUID generated with crypto.randomUUID when the execution
            is created.
        automation_rule_id:
          type: string
          format: uuid
          description: Parent automation rule UUID.
        trigger_data:
          type: object
          additionalProperties: {}
          description: Trigger payload captured when execution started.
        status:
          type: string
          enum: *a4
          description: Current execution status.
        started_at:
          type: string
          format: date-time
          description: Timestamp when execution started.
        completed_at:
          type:
            - string
            - "null"
          format: date-time
          description: Timestamp when execution completed.
        duration_ms:
          type:
            - number
            - "null"
          minimum: 0
          description: Execution duration in milliseconds.
        actions_total:
          type: integer
          minimum: 0
          description: Number of actions planned for this execution.
        actions_successful:
          type: integer
          minimum: 0
          description: Number of actions completed successfully.
        actions_failed:
          type: integer
          minimum: 0
          description: Number of actions that failed.
        error_message:
          type:
            - string
            - "null"
          description: Top-level error message, when failed.
        error_stack:
          type:
            - string
            - "null"
          description: Error stack, when captured.
        failed_action_index:
          type:
            - integer
            - "null"
          description: Index of failed action, when applicable.
        execution_context:
          type: object
          additionalProperties: {}
          description: Execution context data.
        logs:
          type: array
          items:
            $ref: "#/components/schemas/AutomationExecutionLogEntry"
          description: Execution log entries.
        tenant:
          type: string
          format: uuid
          description: Tenant UUID scoped from the API key context.
        _links:
          $ref: "#/components/schemas/AutomationLinks"
      required:
        - execution_id
        - automation_rule_id
        - status
        - actions_total
        - actions_successful
        - actions_failed
        - tenant
    AutomationPagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number.
        limit:
          type: integer
          description: Page size.
        total:
          type: integer
          description: Total matching executions.
        totalPages:
          type: integer
          description: Total page count.
        hasNext:
          type: boolean
          description: Whether another page exists.
        hasPrev:
          type: boolean
          description: Whether a previous page exists.
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrev
    AutomationExecutionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AutomationExecution"
          description: Automation execution rows. Current service code wraps the DB result
            array in another array; this schema documents the intended flat
            shape returned by createPaginatedResponse.
        pagination:
          $ref: "#/components/schemas/AutomationPagination"
        meta:
          type: object
          properties:
            filters:
              type: object
              additionalProperties: {}
              description: Validated filters echoed by the controller.
            resource:
              type: string
              enum:
                - automation_execution
              description: Resource name supplied by the controller.
      required:
        - data
        - pagination
    AutomationExecutionResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/AutomationExecution"
      required:
        - data
    AutomationErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code, such as UNAUTHORIZED, FORBIDDEN,
                VALIDATION_ERROR, or INTERNAL_ERROR.
            message:
              type: string
              description: Human-readable error message.
            details:
              description: Optional structured error details.
          required:
            - code
            - message
      required:
        - error
    AutomationMetaResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            trigger_types:
              type: array
              items:
                type: string
                enum: *a3
              description: Valid automation trigger types.
            action_types:
              type: array
              items:
                type: string
                enum: &a5
                  - email_notification
                  - sms_notification
                  - webhook_call
                  - database_update
                  - ticket_creation
                  - ticket_update
                  - project_update
                  - time_entry_creation
                  - invoice_generation
                  - custom_script
                  - workflow_execution
                  - system_command
              description: Valid automation action types.
            rule_statuses:
              type: array
              items:
                type: string
                enum:
                  - active
                  - inactive
                  - draft
                  - error
              description: Valid automation rule statuses.
            execution_statuses:
              type: array
              items:
                type: string
                enum: *a4
              description: Valid automation execution statuses.
            priority_levels:
              type: array
              items:
                type: string
                enum:
                  - low
                  - normal
                  - high
                  - critical
              description: Valid automation priority levels.
            condition_operators:
              type: array
              items:
                type: string
                enum:
                  - equals
                  - not_equals
                  - greater_than
                  - less_than
                  - greater_than_or_equal
                  - less_than_or_equal
                  - contains
                  - not_contains
                  - starts_with
                  - ends_with
                  - in
                  - not_in
                  - exists
                  - not_exists
                  - regex_match
              description: Valid condition operators.
          required:
            - trigger_types
            - action_types
            - rule_statuses
            - execution_statuses
            - priority_levels
            - condition_operators
      required:
        - data
    AutomationRuleCondition:
      type: object
      properties:
        field:
          type: string
          description: Field path evaluated for this condition.
        operator:
          type: string
          enum:
            - equals
            - not_equals
            - greater_than
            - less_than
            - greater_than_or_equal
            - less_than_or_equal
            - contains
            - not_contains
            - starts_with
            - ends_with
            - in
            - not_in
            - exists
            - not_exists
            - regex_match
        value:
          description: Condition comparison value.
        data_type:
          type: string
          enum:
            - string
            - number
            - boolean
            - date
            - array
            - object
      required:
        - field
        - operator
    AutomationRuleAction:
      type: object
      properties:
        type:
          type: string
          enum: *a5
          description: Automation action type.
        config:
          type: object
          additionalProperties: {}
          description: Action configuration object. Expected keys depend on action type.
        order:
          type: integer
          minimum: 1
          description: Execution order (1-based).
        continue_on_error:
          type: boolean
          description: Continue execution after a failed action.
        timeout_seconds:
          type: integer
          minimum: 1
          description: Optional per-action timeout in seconds.
        retry_attempts:
          type: integer
          minimum: 0
          maximum: 5
          description: Optional retry count for this action.
      required:
        - type
        - config
        - order
    AutomationNotificationSettings:
      type: object
      properties:
        notify_on_success:
          type: boolean
        notify_on_failure:
          type: boolean
        notification_emails:
          type: array
          items:
            type: string
            format: email
        notification_webhooks:
          type: array
          items:
            type: string
            format: uri
    AutomationRule:
      type: object
      properties:
        rule_id:
          type: string
          format: uuid
[...]
