openapi: 3.1.0
info:
  title: Alga PSA API
  version: 0.1.0
  description: OpenAPI specification generated from registered route metadata.
servers:
  - url: https://algapsa.com
    description: Production
  - url: http://localhost:3000
    description: Local development
tags:
  - name: Auth
  - name: Billing
  - name: Boards
  - name: Chat
  - name: Documents
  - name: Email
  - name: Extension Gateway
  - name: Files
  - name: Products
  - name: Projects
  - name: Service Catalog
  - name: Service Categories
  - name: Service Types
  - name: Services
  - name: SoftwareOne Extensions
  - name: Statuses
  - name: Storage
  - name: System
  - name: admin
  - name: assets
  - name: automation
  - name: billing-analytics
  - name: categories
  - name: client-contract-lines
  - name: clients
  - name: contacts
  - name: contract-line-templates
  - name: contract-lines
  - name: contracts
  - name: feature-access
  - name: feature-flags
  - name: financial
  - name: healthz
  - name: installs
  - name: integrations
  - name: invoices
  - name: meta
  - name: permission-checks
  - name: permissions
  - name: projects
  - name: quickbooks
  - name: quotes
  - name: rbac
  - name: readyz
  - name: roles
  - name: schedules
  - name: tags
  - name: teams
  - name: test-auth
  - name: tickets
  - name: time-entries
  - name: time-periods
  - name: time-sheets
  - name: user
  - name: user-roles
  - name: users
  - name: webhooks
  - name: workflows
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Auth.js JWE session token
    SessionCookieAuth:
      type: apiKey
      in: cookie
      name: authjs.session-token
      description: Auth.js session cookie. In secure production deployments the cookie
        may be named __Secure-authjs.session-token; in local development it may
        include a port suffix.
    WebhookSignatureAuth:
      type: apiKey
      in: header
      name: x-webhook-signature
      description: HMAC-SHA256 signature generated with ALGA_WEBHOOK_SECRET. POST
        signs the raw JSON body. GET signs the string GET:<tenant_id>.
    GooglePubSubJWT:
      type: http
      scheme: bearer
      bearerFormat: Google Pub/Sub JWT
      description: Google-signed JWT from Pub/Sub push. The webhook validates the
        audience against the webhook URL and checks the issuer/service account
        against tenant Google configuration.
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
          required:
            - code
            - message
      required:
        - error
    PlaceholderObject:
      type: object
      properties: {}
    OAuthCallbackHtmlResponse:
      type: string
      description: HTML popup callback page. The page posts a JSON oauth-callback
        message to window.opener or window.parent via postMessage, then attempts
        to close itself.
    OAuthCallbackQuery:
      type: object
      properties:
        code:
          type: string
          description: OAuth 2.0 authorization code. Required unless the provider returned
            error.
        state:
          type: string
          description: Base64-encoded JSON state object generated when the OAuth flow was
            initiated. It carries tenant context, providerId, redirectUri,
            timestamp, and nonce values used to complete the callback.
        error:
          type: string
          description: OAuth error code returned by the provider, such as access_denied.
        error_description:
          type: string
          description: Human-readable OAuth error description returned by the provider.
    AuthSessionUser:
      type: object
      properties:
        id:
          type: string
          description: User identifier from the users.user_id record.
        email:
          type: string
          format: email
          description: User's email address.
        name:
          type: string
          description: User's display name, usually first_name plus last_name.
        username:
          type: string
          description: User's login username.
        image:
          type: string
          description: Avatar or profile image URL.
        proToken:
          type: string
          description: Legacy Pro token value when present.
        tenant:
          type: string
          description: Tenant UUID from the user session JWT.
        tenantSlug:
          type: string
          description: URL-safe tenant slug for portal routing.
        user_type:
          type: string
          enum:
            - client
            - internal
          description: User classification from users.user_type.
        clientId:
          type: string
          format: uuid
          description: Client UUID from contacts.client_id for client-portal users.
        contactId:
          type: string
          format: uuid
          description: Contact UUID from users.contact_id for client-portal users.
        plan:
          type: string
          description: Current tenant billing plan key.
        addons:
          type: array
          items:
            type: string
          description: Enabled tenant add-on keys.
        trial_end:
          type:
            - string
            - "null"
          description: Trial expiry timestamp when present.
        subscription_status:
          type:
            - string
            - "null"
          enum:
            - active
            - trialing
            - past_due
            - unpaid
          description: Billing subscription status copied into the session token.
        solo_pro_trial_end:
          type:
            - string
            - "null"
          description: Solo Pro trial expiry timestamp when present.
        premium_trial_end:
          type:
            - string
            - "null"
          description: Premium trial expiry timestamp when present.
        premium_trial_confirmed:
          type: boolean
          description: Whether the user confirmed the Premium trial.
        premium_trial_effective_date:
          type:
            - string
            - "null"
          description: Premium trial effective date when present.
      required:
        - id
        - email
        - name
        - username
    AuthSessionAuthenticatedResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
          description: Current session UUID from the sessions table, created at sign-in.
        login_method:
          type: string
          description: Authentication method used for this session, such as credentials,
            google, or azure-ad.
        user:
          $ref: "#/components/schemas/AuthSessionUser"
      required:
        - user
    EmptyObjectResponse:
      type: object
      properties: {}
      additionalProperties: false
      description: Empty object returned when no authenticated session is present.
    AuthSessionResponse:
      anyOf:
        - $ref: "#/components/schemas/AuthSessionAuthenticatedResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
      description: Authenticated session data, or an empty object when the request has
        no valid session cookie.
    FlatErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
      required:
        - error
    ValidateApiKeyHeaders:
      type: object
      properties:
        x-api-key:
          type: string
          minLength: 1
          description: Plaintext API key to validate. The service hashes this value before
            looking up the api_keys record.
      required:
        - x-api-key
    ValidateApiKeyResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - true
          description: Indicates that the API key is active and valid.
        userId:
          type: string
          format: uuid
          description: UUID of the user who owns the API key, from api_keys.user_id.
        tenant:
          type: string
          description: Tenant identifier scoped to this API key, from api_keys.tenant.
      required:
        - isValid
        - userId
        - tenant
    ValidateTokenHeaders:
      type: object
      properties:
        authorization:
          type: string
          description: Optional Bearer token fallback. The route also accepts the Auth.js
            session token cookie.
    ValidateTokenSuccessResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - true
          description: Indicates that the request contains a valid Auth.js session token.
        userType:
          type: string
          enum:
            - internal
            - client
          description: User classification from users.user_type in the session JWT.
        tenant:
          type: string
          description: Tenant identifier from the session JWT.
      required:
        - isValid
        - userType
        - tenant
    ValidateTokenUnauthorizedResponse:
      type: object
      properties:
        isValid:
          type: boolean
          enum:
            - false
          description: No valid session token was found.
      required:
        - isValid
    NextAuthCatchAllParams:
      type: object
      properties:
        nextauth:
          type: string
          description: NextAuth catch-all action path. Common values include csrf,
            providers, signin, signout, session, error, verify-request,
            webauthn-options, callback/credentials, callback/google,
            callback/azure-ad, and callback/keycloak.
      required:
        - nextauth
    NextAuthGetQuery:
      type: object
      properties:
        callbackUrl:
          type: string
          description: Optional URL to redirect to after sign-in or sign-out flows.
        error:
          type: string
          description: Optional NextAuth/OAuth error code shown by sign-in or error pages.
        code:
          type: string
          description: OAuth authorization code for provider callback sub-routes.
        state:
          type: string
          description: OAuth state value for provider callback sub-routes.
        error_description:
          type: string
          description: Human-readable provider error description for OAuth callback
            sub-routes.
    CsrfTokenResponse:
      type: object
      properties:
        csrfToken:
          type: string
          description: Opaque double-submit CSRF token required for mutating NextAuth POST
            actions.
      required:
        - csrfToken
    ProviderInfo:
      type: object
      properties:
        id:
          type: string
          description: Provider identifier such as credentials, google, azure-ad, or
            keycloak.
        name:
          type: string
          description: Provider display name.
        type:
          type: string
          enum:
            - oauth
            - oidc
            - credentials
            - email
            - webauthn
          description: NextAuth provider type.
        signinUrl:
          type: string
          description: URL used to initiate sign-in with this provider.
        callbackUrl:
          type: string
          description: URL the provider redirects to after authentication.
      required:
        - id
        - name
        - type
        - signinUrl
        - callbackUrl
    AuthProvidersResponse:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/ProviderInfo"
      description: Map of configured providers keyed by provider ID.
    NextAuthGetResponse:
      anyOf:
        - $ref: "#/components/schemas/AuthSessionAuthenticatedResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
        - $ref: "#/components/schemas/CsrfTokenResponse"
        - $ref: "#/components/schemas/AuthProvidersResponse"
        - $ref: "#/components/schemas/OAuthCallbackHtmlResponse"
        - $ref: "#/components/schemas/EmptyObjectResponse"
      description: "Representative successful GET response for the NextAuth catch-all
        route. The exact payload depends on the nextauth action: session returns
        a session object or {}, csrf returns csrfToken, providers returns a
        provider map, and page actions return HTML or redirects."
    NextAuthPostBody:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Credentials-provider email address for callback/credentials.
        password:
          type: string
          description: Credentials-provider plaintext password for callback/credentials.
        twoFactorCode:
          type: string
          description: TOTP code required when two-factor authentication is enabled and
            the device is not trusted.
        userType:
          type: string
          enum:
            - client
            - internal
          description: Optional user type used to scope credentials-provider lookup.
        tenant:
          type: string
          description: Optional tenant slug used to resolve the tenant for
            credentials-provider login.
        csrfToken:
          type: string
          description: CSRF token from GET /api/auth/csrf. Required for sign-in, sign-out,
            and other mutating NextAuth actions.
        callbackUrl:
          type: string
          description: Post-authentication redirect URL.
        redirect:
          type: string
          description: NextAuth redirect mode flag.
        json:
          type: string
          description: NextAuth JSON response mode flag.
        code:
          type: string
          description: OAuth authorization code for provider callback actions.
        state:
          type: string
          description: OAuth state value for provider callback actions.
        error:
          type: string
          description: Provider OAuth error code for callback actions.
        error_description:
          type: string
          description: Provider OAuth error description for callback actions.
    RedirectResponse:
      type: string
      description: HTTP redirect response. NextAuth sets or clears cookies depending
        on the action.
    LicenceCountHeaders:
      type: object
      properties:
        x-webhook-signature:
          type: string
          description: HMAC-SHA256 hex digest proving the caller knows ALGA_WEBHOOK_SECRET.
      required:
        - x-webhook-signature
    LicenceCountQuery:
      type: object
      properties:
        tenant_id:
          type: string
          description: Tenant identifier to query. This must match a tenants.tenant record.
      required:
        - tenant_id
    LicenceUsageResponse:
      type: object
      properties:
        tenant_id:
          type: string
          description: Echoed tenant identifier from the request.
        limit:
          type:
            - integer
            - "null"
          description: Licensed internal-user count from tenants.licensed_user_count. Null
            means unlimited.
        used:
          type: integer
          description: Count of active internal users where users.user_type is internal
            and is_inactive is false.
        remaining:
          type:
            - integer
            - "null"
          description: Calculated remaining seats as max(0, limit - used), or null when
            limit is unlimited.
        last_updated:
          type:
            - string
            - "null"
          description: ISO timestamp from tenants.last_license_update, or null if no
            license update has been recorded.
      required:
        - tenant_id
        - limit
        - used
        - remaining
        - last_updated
    LicenceCountUpdateRequest:
      type: object
      properties:
        tenant_id:
          type: string
          description: Tenant identifier from tenants.tenant whose licensed user count
            should be updated.
        license_count:
          type: integer
          minimum: 0
          description: Licensed internal-user count from the Stripe subscription quantity.
        event_id:
          type: string
          description: Stripe webhook event ID. When supplied, the handler uses
            tenants.stripe_event_id for idempotency.
      required:
        - tenant_id
        - license_count
    LicenceCountUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Indicates the license count update was accepted.
        tenant_id:
          type: string
          description: Echoed tenant identifier that was updated.
        license_count:
          type: integer
          description: Echoed licensed user count that was written.
        updated_at:
          type: string
          format: date-time
          description: ISO timestamp generated by the handler for this response.
      required:
        - success
        - tenant_id
        - license_count
        - updated_at
    LicenceCountErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
      required:
        - error
    ChatMessage:
      type: object
      properties:
        role:
          type: string
          enum:
            - user
            - assistant
          description: Role of the message author in the conversation.
        content:
          type: string
          description: Message text sent to the chat model.
      required:
        - role
        - content
    ChatStreamRequest:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/ChatMessage"
          minItems: 1
          description: Conversation messages in order. These are passed to the OpenRouter
            chat model.
        options:
          type: object
          additionalProperties: {}
          description: Optional model options. Currently declared by the internal
            interface but not consumed by the handler.
        model:
          type: string
          description: Optional model override. Currently ignored; the server uses
            OPENROUTER_CHAT_MODEL or minimax/minimax-m2.
        meta:
          type: object
          properties:
            authorization:
              type: string
              description: Optional downstream authorization token. Currently declared but not
                consumed by the handler.
          description: Optional metadata for legacy chat clients.
      required:
        - inputs
    ChatTitleStreamRequest:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/ChatMessage"
          minItems: 1
          description: Conversation messages used as context for generating a short chat
            title.
      required:
        - inputs
    ChatStreamEvent:
      type: object
      properties:
        content:
          type: string
          description: SSE data payload content. Normal events contain generated text;
            terminal events may contain [DONE].
        type:
          type: string
          enum:
            - text
            - error
          description: Event type. text carries model output; error carries an in-stream
            error message.
      required:
        - content
    ChatStreamError:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
      required:
        - error
    ChatStreamSlugParams:
      type: object
      properties:
        slug:
          type: string
          description: Catch-all chat stream path segment. The current handler accepts the
            value but does not use it.
      required:
        - slug
    DocumentDownloadParams:
      type: object
      properties:
        fileId:
          type: string
          format: uuid
          description: Document UUID or file UUID. The download handler resolves
            document_id first, then file_id.
      required:
        - fileId
    DocumentFileIdParams:
      type: object
      properties:
        fileId:
          type: string
          format: uuid
          description: File UUID from external_files.file_id identifying the stored file
            to serve.
      required:
        - fileId
    DocumentIdDownloadParams:
      type: object
      properties:
        documentId:
          type: string
          format: uuid
          description: Document UUID from documents.document_id, or file UUID from
            documents.file_id. The handler resolves document_id first and falls
            back to file_id.
      required:
        - documentId
    DocumentIdDownloadHeaders:
      type: object
      properties:
        x-api-key:
          type: string
          description: Optional API key for machine-to-machine download requests. Used
            only when no valid Auth.js session cookie is present.
    DocumentDownloadQuery:
      type: object
      properties:
        format:
          type: string
          enum: &a3
            - pdf
            - markdown
            - md
          description: Optional export format. pdf generates a PDF; markdown or md exports
            markdown; omitted downloads the original stored file.
    DocumentViewHeaders:
      type: object
      properties:
        range:
          type: string
          description: HTTP Range header for partial video responses, for example
            bytes=0-1048575. Only honored for video/* files.
        x-api-key:
          type: string
          description: Optional API key fallback for non-browser clients. Used only when
            no valid session cookie is present.
    BinaryFileResponse:
      type: string
      description: Binary file bytes streamed from the storage provider.
    MarkdownFileResponse:
      type: string
      description: Markdown export text generated from document content.
    DocumentDownloadError:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
        permissionError:
          type: string
          description: Permission-denied message returned by the underlying document
            action in some RBAC failures.
    DocumentPlainTextError:
      type: string
      description: Plain text error response.
    EmailErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
        success:
          type: boolean
          description: Present on some failure responses.
        retryable:
          type: boolean
          description: Whether a webhook sender should retry the request.
      required:
        - error
    EmailOAuthInitiateRequest:
      type: object
      properties:
        provider:
          type: string
          enum:
            - microsoft
            - google
          description: Email OAuth provider to authorize.
        redirectUri:
          type: string
          format: uri
          description: Optional OAuth callback URI. If omitted, the server builds
            /api/auth/{provider}/callback from the configured base URL.
        providerId:
          type: string
          format: uuid
          description: Email provider configuration ID to carry through OAuth state and
            use during callback token persistence.
      required:
        - provider
    EmailOAuthInitiateResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: OAuth initiation succeeded.
        authUrl:
          type: string
          format: uri
          description: Provider authorization URL for the browser to visit.
        provider:
          type: string
          enum:
            - microsoft
            - google
          description: Email OAuth provider being authorized.
        state:
          type: string
          description: Base64-encoded OAuth state containing tenant, userId, providerId,
            redirectUri, timestamp, nonce, and hosted flag.
      required:
        - success
        - authUrl
        - provider
        - state
    EmailOAuthState:
      type: object
      properties:
        tenant:
          type: string
          description: Tenant identifier from the authenticated user session.
        userId:
          type: string
          description: User UUID from the authenticated session.
        providerId:
          type: string
          format: uuid
          description: Email provider configuration UUID from the initiate request.
        redirectUri:
          type: string
          description: OAuth redirect URI included in the authorization request.
        timestamp:
          type: number
          description: Epoch milliseconds when state was generated.
        nonce:
          type: string
          description: Random hex nonce for CSRF correlation.
        hosted:
          type: boolean
          description: Whether hosted credentials are used for the flow.
      required:
        - tenant
        - redirectUri
        - timestamp
        - nonce
    EmailRefreshWatchRequest:
      type: object
      properties:
        providerId:
          type: string
          format: uuid
          description: Active Gmail email provider ID from email_providers.id to refresh.
      required:
        - providerId
    EmailRefreshWatchResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Refresh completed successfully.
        message:
          type: string
          description: Human-readable success message.
        providerId:
          type: string
          format: uuid
          description: Email provider ID that was refreshed.
        mailbox:
          type: string
          format: email
          description: Mailbox address for the Gmail provider.
      required:
        - success
        - message
        - providerId
        - mailbox
    GooglePubSubMessage:
      type: object
      properties:
        data:
          type: string
          description: Base64-encoded Gmail notification JSON containing emailAddress and
            historyId.
        messageId:
          type: string
          description: Google Pub/Sub message ID.
        publishTime:
          type: string
          description: ISO timestamp when Pub/Sub published the message.
      required:
        - data
        - messageId
        - publishTime
    GooglePubSubPushBody:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/GooglePubSubMessage"
        subscription:
          type: string
          description: Full Pub/Sub subscription path, such as
            projects/{project}/subscriptions/{subscriptionName}.
      required:
        - message
        - subscription
    GmailNotificationPayload:
      type: object
      properties:
        emailAddress:
          type: string
          format: email
          description: Gmail mailbox address with new activity.
        historyId:
          type: string
          description: Gmail history ID indicating the mailbox change position.
      required:
        - emailAddress
        - historyId
    GoogleWebhookEnqueueResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Webhook was accepted.
        queued:
          type: boolean
          enum:
            - true
          description: The notification was enqueued for asynchronous processing.
        handoff:
          type: string
          enum:
            - unified_pointer_queue
          description: Queue handoff mechanism used for the Gmail notification pointer.
        providerId:
          type: string
          format: uuid
          description: Resolved email_providers.id for the Gmail mailbox.
        tenant:
          type: string
          description: Tenant identifier owning the provider.
        historyId:
          type: string
          description: Gmail history ID from the decoded notification.
        jobId:
          type: string
          format: uuid
          description: UUID assigned to the Redis queue job.
        queueDepth:
          type: integer
          description: Redis queue depth after enqueue.
      required:
        - success
        - queued
        - handoff
        - providerId
        - tenant
        - historyId
        - jobId
        - queueDepth
    GoogleWebhookSkippedResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Webhook request was accepted but no job was enqueued.
        message:
          type: string
          enum:
            - No data to process
            - No provider found
            - No google config found
          description: Reason the webhook did not enqueue work.
      required:
        - success
        - message
    MicrosoftWebhookValidationQuery:
      type: object
      properties:
        validationtoken:
          type: string
          description: Microsoft Graph subscription validation token. The handler also
            accepts validationToken with camel-case spelling.
        validationToken:
          type: string
          description: Camel-case variant of the Microsoft Graph validation token.
    MicrosoftWebhookTextResponse:
      type: string
      description: Plain text response. For validation requests, this is the
        validation token echoed verbatim; otherwise it may be OK or Internal
        Server Error.
    MicrosoftGraphResourceData:
      type: object
      properties:
        "@odata.type":
          type: string
          description: "OData resource type, such as #microsoft.graph.message."
        "@odata.id":
          type: string
          description: OData resource identifier.
        id:
          type: string
          description: Microsoft Graph message ID. If absent, the handler extracts it from
            resource.
        subject:
          type: string
          description: Optional message subject supplied by Microsoft Graph.
    MicrosoftGraphNotification:
      type: object
      properties:
        changeType:
          type: string
          description: Microsoft Graph change type, typically created for new mail.
        clientState:
          type: string
          description: Opaque verification token that must match
            microsoft_email_provider_config.webhook_verification_token when
            configured.
        resource:
          type: string
          description: Graph resource path, for example
            /users/{userId}/messages/{messageId}.
        resourceData:
          $ref: "#/components/schemas/MicrosoftGraphResourceData"
        subscriptionExpirationDateTime:
          type: string
          description: Microsoft Graph subscription expiry timestamp.
        subscriptionId:
          type: string
          description: Microsoft Graph subscription ID. Used to resolve
            microsoft_email_provider_config.webhook_subscription_id.
        tenantId:
          type: string
          description: Microsoft tenant GUID from the notification. Informational only;
            tenant is resolved from DB.
      required:
        - changeType
        - resource
        - resourceData
        - subscriptionId
    MicrosoftGraphWebhookBody:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: "#/components/schemas/MicrosoftGraphNotification"
          description: Batch of Microsoft Graph change notifications.
      required:
        - value
    MicrosoftWebhookSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Webhook request was processed successfully.
        queued:
          type: boolean
          description: Whether any notification pointer jobs were enqueued.
        handoff:
          type: string
          enum:
            - unified_pointer_queue
          description: Queue handoff mechanism used for Microsoft notification pointers.
        unifiedQueuedCount:
          type: integer
          description: Number of notification jobs enqueued.
        processedCount:
          type: integer
          description: Number of notifications processed.
        messageIds:
          type: array
          items:
            type: string
          description: Microsoft Graph message IDs that were enqueued.
      required:
        - success
        - queued
        - handoff
        - unifiedQueuedCount
        - processedCount
        - messageIds
    MicrosoftWebhookEmptyResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Webhook request was accepted.
        message:
          type: string
          description: Reason no notification jobs were enqueued.
      required:
        - success
        - message
    MicrosoftWebhookEnqueueErrorResponse:
      type: object
      properties:
        error:
          type: string
          enum:
            - Failed to enqueue one or more Microsoft pointer jobs
        failureCount:
          type: integer
          description: Number of enqueue failures.
        failures:
          type: array
          items:
            type: object
            properties:
              subscriptionId:
                type: string
                description: Microsoft Graph subscription ID from the notification.
              messageId:
                type: string
                description: Microsoft Graph message ID that failed to enqueue.
              providerId:
                type: string
                description: Resolved email provider ID.
              tenantId:
                type: string
                description: Resolved tenant identifier.
              reason:
                type: string
                description: Failure reason.
            required:
              - subscriptionId
              - messageId
              - providerId
              - tenantId
              - reason
          description: Per-notification enqueue failures.
      required:
        - error
        - failureCount
        - failures
    EmailWebhookTestRequest:
      type: object
      properties:
        provider:
          type: string
          enum:
            - microsoft
            - google
          description: Email provider type to simulate in the synthetic inbound email
            event. Defaults to microsoft.
        messageId:
          type: string
          description: Synthetic message identifier to include in the test event. Defaults
            to test-message-123.
    EmailWebhookTestResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Test event was published successfully.
        message:
          type: string
          description: Human-readable success message.
        eventId:
          type: string
          description: Redis Streams event ID returned by publishEvent.
        tenant:
          type: string
          description: Tenant identifier from the authenticated user session.
      required:
        - success
        - message
        - eventId
        - tenant
    ExtensionGatewayParams:
      type: object
      properties:
        extensionId:
          type: string
          minLength: 1
          description: Extension identifier from the URL. This may be a registry/install
            UUID or a publisher.name slug, resolved case-insensitively.
        path:
          type: string
          description: Remaining extension endpoint path after extensionId. The gateway
            forwards this path to the runner unchanged.
      required:
        - extensionId
    ExtensionGatewayHeaders:
      type: object
      properties:
        x-request-id:
          type: string
          format: uuid
          description: Optional request ID. The gateway generates a UUID when absent and
            forwards it to the runner.
        x-idempotency-key:
          type: string
          description: Optional idempotency key for non-GET methods. The gateway falls
            back to x-request-id when absent and forwards the key to the runner.
        x-alga-tenant:
          type: string
          description: Internal tenant header used for tenant resolution before session
            fallback.
        x-tenant-id:
          type: string
          description: Legacy tenant header accepted for tenant resolution before session
            fallback.
    ExtensionOpaqueRequest:
      type: object
      properties: {}
      description: Extension-specific request body. The gateway treats this as opaque,
        enforces a 10 MB limit for non-GET methods, base64-encodes it, and
        forwards it to the extension runner.
    ExtensionOpaqueResponse:
      type: object
      properties: {}
      description: Extension-specific response relayed from the runner. Status code,
        content type, and body are controlled by the extension.
    ExtensionGatewayErrorResponse:
      type: object
      properties:
        error:
          type: string
          enum:
            - not_installed
            - payload_too_large
            - install_context_missing
            - runner_empty_response
            - runner_invalid_response
            - bad_gateway
            - internal_error
          description: Gateway-level error code.
        detail:
          description: Additional error detail when available.
      required:
        - error
    FileDownloadParams:
      type: object
      properties:
        fileId:
          type: string
          format: uuid
          description: File UUID from external_files.file_id to download. The handler does
            not validate UUID syntax before querying storage metadata.
      required:
        - fileId
    FileBinaryDownloadResponse:
      type: string
      description: Binary file bytes loaded from the configured storage provider.
    FileDownloadPlainTextError:
      type: string
      description: Plain text error response, such as Tenant not found or Download failed.
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
          description: Always ok when the API process is reachable.
        version:
          type: string
          description: Hardcoded API version string returned by the handler.
      required:
        - status
        - version
    BoardIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Board UUID.
      required:
        - id
    BoardApiResponse:
      type: object
      properties:
        board_id:
          type: string
          format: uuid
        board_name:
          type: string
        description:
          type:
            - string
            - "null"
        display_order:
          type: number
        is_default:
          type: boolean
        is_inactive:
          type: boolean
        category_type:
          type:
            - string
            - "null"
          enum:
            - custom
            - itil
        priority_type:
          type:
            - string
            - "null"
          enum:
            - custom
            - itil
        display_itil_impact:
          type:
            - boolean
            - "null"
        display_itil_urgency:
          type:
            - boolean
            - "null"
        default_assigned_to:
          type:
            - string
            - "null"
          format: uuid
        inbound_reply_reopen_enabled:
          type: boolean
        inbound_reply_reopen_cutoff_hours:
          type: integer
        inbound_reply_reopen_status_id:
          type:
            - string
            - "null"
          format: uuid
        inbound_reply_ai_ack_suppression_enabled:
          type: boolean
        enable_live_ticket_timer:
          type:
            - boolean
            - "null"
        tenant:
          type: string
          format: uuid
      required:
        - board_id
        - board_name
        - description
        - display_order
        - is_default
        - is_inactive
        - category_type
        - priority_type
        - display_itil_impact
        - display_itil_urgency
        - default_assigned_to
        - enable_live_ticket_timer
        - tenant
    BoardEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/BoardApiResponse"
      required:
        - data
    BoardListEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/BoardApiResponse"
      required:
        - data
    BoardCreateRequest:
      type: object
      properties:
        board_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        is_default:
          type: boolean
        is_inactive:
          type: boolean
        category_type:
          type: string
          enum: &a1
            - custom
            - itil
        priority_type:
          type: string
          enum: &a2
            - custom
            - itil
        default_assigned_to:
          type:
            - string
            - "null"
          format: uuid
        display_itil_impact:
          type: boolean
        display_itil_urgency:
          type: boolean
        enable_live_ticket_timer:
          type: boolean
      required:
        - board_name
      description: Payload for creating a new board.
    BoardUpdateRequest:
      type: object
      properties:
        board_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        is_default:
          type: boolean
        is_inactive:
          type: boolean
        category_type:
          type: string
          enum: *a1
        priority_type:
          type: string
          enum: *a2
        default_assigned_to:
          type:
            - string
            - "null"
          format: uuid
        display_itil_impact:
          type: boolean
        display_itil_urgency:
          type: boolean
        enable_live_ticket_timer:
          type: boolean
      description: Payload for updating a board. All fields are optional.
    StatusIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Status UUID.
      required:
        - id
    StatusApiResponse:
      type: object
      properties:
        status_id:
          type: string
          format: uuid
        name:
          type: string
        status_type:
          type: string
          enum:
            - ticket
            - project
            - project_task
            - interaction
        order_number:
          type: number
        is_closed:
          type: boolean
        is_default:
          type:
            - boolean
            - "null"
        item_type:
          type:
            - string
            - "null"
        standard_status_id:
          type:
            - string
            - "null"
        is_custom:
          type:
            - boolean
            - "null"
        tenant:
          type: string
          format: uuid
      required:
        - status_id
        - name
        - status_type
        - order_number
        - is_closed
        - is_default
        - item_type
        - standard_status_id
        - is_custom
        - tenant
    StatusEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/StatusApiResponse"
      required:
        - data
    StatusListEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/StatusApiResponse"
      required:
        - data
    StatusCreateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        status_type:
          type: string
          enum:
            - ticket
            - project
            - project_task
            - interaction
        board_id:
          type: string
          format: uuid
        is_closed:
          type: boolean
        is_default:
          type: boolean
        order_number:
          type: integer
          minimum: 0
        color:
          type: string
          pattern: ^#[0-9A-Fa-f]{6}$
        icon:
          type: string
          maxLength: 50
      required:
        - name
        - status_type
      description: Payload for creating a new status. For ticket statuses, board_id is
        required.
    StatusUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        is_closed:
          type: boolean
        is_default:
          type: boolean
        order_number:
          type: integer
          minimum: 0
        color:
          type: string
          pattern: ^#[0-9A-Fa-f]{6}$
        icon:
          type: string
          maxLength: 50
      description: Payload for updating a status. All fields are optional.
    ServiceCategory:
      type: object
      properties:
        tenant:
          type: string
          format: uuid
        category_id:
          type: string
          format: uuid
        category_name:
          type: string
        description:
          type:
            - string
            - "null"
        display_order:
          type: integer
          default: 0
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        updated_by:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string
      required:
        - tenant
        - category_id
        - category_name
        - is_active
        - created_at
        - updated_at
        - created_by
        - updated_by
      description: Service category resource.
    ServiceCategoryCreateRequest:
      type: object
      properties:
        category_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        is_active:
          type: boolean
      required:
        - category_name
      description: Payload for creating a service category.
    ServiceCategoryListQuery:
      type: object
      properties:
        search:
          type: string
        is_active:
          type: boolean
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
      description: Query parameters for listing service categories.
    PaginatedServiceCategoryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ServiceCategory"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    ServiceIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Service UUID.
      required:
        - id
    ServicePrice:
      type: object
      properties:
        currency_code:
          type: string
          minLength: 3
          maxLength: 3
        rate:
          type: number
      required:
        - currency_code
        - rate
    ServiceCatalogEntry:
      type: object
      properties:
        service_id:
          type: string
          format: uuid
        tenant:
          type: string
          format: uuid
        service_name:
          type: string
        custom_service_type_id:
          type: string
          format: uuid
        billing_method:
          type: string
          enum:
            - fixed
            - hourly
            - usage
        default_rate:
          type: number
        unit_of_measure:
          type: string
        category_id:
          type:
            - string
            - "null"
          format: uuid
        tax_rate_id:
          type:
            - string
            - "null"
          format: uuid
        description:
          type:
            - string
            - "null"
        item_kind:
          type: string
          enum:
            - service
            - product
        is_active:
          type: boolean
        sku:
          type:
            - string
            - "null"
        cost:
          type:
            - number
            - "null"
        cost_currency:
          type:
            - string
            - "null"
          minLength: 3
          maxLength: 3
        vendor:
          type:
            - string
            - "null"
        manufacturer:
          type:
            - string
            - "null"
        product_category:
          type:
            - string
            - "null"
        is_license:
          type: boolean
        license_term:
          type:
            - string
            - "null"
        license_billing_cadence:
          type:
            - string
            - "null"
        service_type_name:
          type: string
        prices:
          type: array
          items:
            $ref: "#/components/schemas/ServicePrice"
      required:
        - service_id
        - tenant
        - service_name
        - custom_service_type_id
        - billing_method
        - default_rate
        - unit_of_measure
      description: Service catalog entry.
    ServiceEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ServiceCatalogEntry"
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
    PaginatedServiceEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ServiceCatalogEntry"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    ProductIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Product UUID.
      required:
        - id
    ProductPrice:
      type: object
      properties:
        currency_code:
          type: string
          minLength: 3
          maxLength: 3
        rate:
          type: number
      required:
        - currency_code
        - rate
    ProductCatalogEntry:
      type: object
      properties:
        service_id:
          type: string
          format: uuid
        tenant:
          type: string
          format: uuid
        service_name:
          type: string
        custom_service_type_id:
          type: string
          format: uuid
        billing_method:
          type: string
          enum:
            - usage
        default_rate:
          type: number
        unit_of_measure:
          type: string
        category_id:
          type:
            - string
            - "null"
          format: uuid
        tax_rate_id:
          type:
            - string
            - "null"
          format: uuid
        description:
          type:
            - string
            - "null"
        item_kind:
          type: string
          enum:
            - product
        is_active:
          type: boolean
        sku:
          type:
            - string
            - "null"
        cost:
          type:
            - number
            - "null"
        cost_currency:
          type:
            - string
            - "null"
          minLength: 3
          maxLength: 3
        vendor:
          type:
            - string
            - "null"
        manufacturer:
          type:
            - string
            - "null"
        product_category:
          type:
            - string
            - "null"
        is_license:
          type: boolean
        license_term:
          type:
            - string
            - "null"
        license_billing_cadence:
          type:
            - string
            - "null"
        service_type_name:
          type: string
        prices:
          type: array
          items:
            $ref: "#/components/schemas/ProductPrice"
      required:
        - service_id
        - tenant
        - service_name
        - custom_service_type_id
        - billing_method
        - default_rate
        - unit_of_measure
        - item_kind
      description: Product catalog entry.
    ProductEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ProductCatalogEntry"
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
    PaginatedProductEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProductCatalogEntry"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    ServiceTypeIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Service type UUID.
      required:
        - id
    ServiceTypeListQuery:
      type: object
      properties:
        search:
          type: string
        billing_method:
          type: string
          enum: &a8
            - fixed
            - hourly
            - usage
        is_active:
          type: boolean
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
    ServiceTypeResource:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant:
          type: string
          format: uuid
        name:
          type: string
        billing_method:
          type: string
          enum:
            - fixed
            - hourly
            - usage
        is_active:
          type: boolean
        description:
          type:
            - string
            - "null"
        order_number:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - tenant
        - name
        - billing_method
        - is_active
        - order_number
        - created_at
        - updated_at
      description: Tenant-specific service type.
    ServiceTypeEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ServiceTypeResource"
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
    PaginatedServiceTypeEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ServiceTypeResource"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
    ProjectIdParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Project UUID.
      required:
        - id
    ProjectPhaseTaskParams:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Project UUID.
        phaseId:
          type: string
          format: uuid
          description: Project phase UUID.
      required:
        - id
        - phaseId
    ProjectTaskIdParams:
      type: object
      properties:
        taskId:
          type: string
          format: uuid
          description: Project task UUID.
      required:
        - taskId
    ProjectTaskApiResponse:
      type: object
      properties:
        task_id:
          type: string
          format: uuid
        phase_id:
          type: string
          format: uuid
        task_name:
          type: string
        description:
          type:
            - string
            - "null"
        assigned_to:
          type:
            - string
            - "null"
          format: uuid
        estimated_hours:
          type:
            - number
            - "null"
        actual_hours:
          type:
            - number
            - "null"
        project_status_mapping_id:
          type: string
          format: uuid
        due_date:
          type:
            - string
            - "null"
          format: date-time
        priority_id:
          type:
            - string
            - "null"
          format: uuid
        task_type_key:
          type: string
        wbs_code:
          type: string
        order_key:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tenant:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string
      required:
        - task_id
        - phase_id
        - task_name
        - description
        - assigned_to
        - estimated_hours
        - actual_hours
        - project_status_mapping_id
        - priority_id
        - task_type_key
        - wbs_code
        - created_at
        - updated_at
        - tenant
    ProjectTaskEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ProjectTaskApiResponse"
      required:
        - data
    ProjectTaskListEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProjectTaskApiResponse"
      required:
        - data
    ProjectTaskStatusMappingApiResponse:
      type: object
      properties:
        project_status_mapping_id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        status_id:
          type:
            - string
            - "null"
          format: uuid
        standard_status_id:
          type:
            - string
            - "null"
          format: uuid
        is_standard:
          type: boolean
        custom_name:
          type:
            - string
            - "null"
        display_order:
          type: number
        is_visible:
          type: boolean
        tenant:
          type: string
          format: uuid
        status_name:
          type: string
        name:
          type: string
        is_closed:
          type: boolean
      required:
        - project_status_mapping_id
        - project_id
        - is_standard
        - custom_name
        - display_order
        - is_visible
        - tenant
        - status_name
        - name
        - is_closed
    ProjectTaskStatusMappingListEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProjectTaskStatusMappingApiResponse"
      required:
        - data
    ProjectTaskUpdateRequest:
      type: object
      properties:
        task_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
        assigned_to:
          type: string
          format: uuid
        estimated_hours:
          type: number
          minimum: 0
        due_date:
          type: string
          format: date-time
        priority_id:
          type: string
          format: uuid
        task_type_key:
          type: string
          default: general
        project_status_mapping_id:
          type: string
          format: uuid
        wbs_code:
          type: string
        tags:
          type: array
          items:
            type: string
      description: Payload for updating a project task. To change task status, send
        project_status_mapping_id as a UUID. This endpoint does not accept
        project_id, phase_id, or human-readable status names.
    ProjectTaskCreateRequest:
      type: object
      properties:
        task_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
        assigned_to:
          type: string
          format: uuid
        estimated_hours:
          type: number
          minimum: 0
        due_date:
          type: string
          format: date-time
        priority_id:
          type: string
          format: uuid
        task_type_key:
          type: string
          default: general
        project_status_mapping_id:
          type: string
          format: uuid
        wbs_code:
          type: string
        tags:
          type: array
          items:
            type: string
      required:
        - task_name
        - project_status_mapping_id
      description: Payload for creating a project task within a phase. Provide
        project_status_mapping_id as a UUID from the project task status
        mappings endpoint. The phaseId path parameter selects which phase will
        receive the task.
    MiddlewareUnauthorizedResponse:
      type: object
      properties:
        error:
          type: string
          description: "Middleware authentication error message, such as Unauthorized: API
            key missing."
      required:
        - error
    SoftwareOneAgreement:
      type: object
      properties:
        id:
          type: string
          description: SoftwareOne agreement identifier, such as agr-001. This is an
            external SoftwareOne-style ID, not an Alga UUID.
        name:
          type: string
          description: Human-readable agreement name.
        product:
          type: string
          description: Product or SKU name associated with the agreement.
        vendor:
          type: string
          description: Software vendor name, such as Microsoft or Adobe.
        consumer:
          type: string
          description: End-customer organization name for the agreement.
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
            - expired
          description: Agreement status.
        currency:
          type: string
          description: Three-letter billing currency code, such as USD.
        spxy:
          type: number
          description: Annual SPx value from SoftwareOne dummy data.
        marginRpxy:
          type: number
          description: Margin RPxY value from SoftwareOne dummy data.
        operations:
          type: string
          enum:
            - visible
            - hidden
            - restricted
          description: Operational visibility state for the agreement.
        billingConfigId:
          type: string
          description: SoftwareOne billing configuration identifier associated with the
            agreement.
        localConfig:
          type: object
          properties:
            autoRenewal:
              type: boolean
              description: Whether local auto-renewal is enabled.
            notificationDays:
              type: integer
              description: Days before renewal/expiry to notify.
            markup:
              type: number
              description: Optional local markup percentage used by richer SoftwareOne
                schemas.
            notes:
              type: string
              description: Optional local notes.
            tags:
              type: array
              items:
                type: string
              description: Optional local tags.
          description: Locally editable configuration metadata. Current MVP data includes
            autoRenewal and notificationDays.
      required:
        - id
        - name
        - product
        - vendor
        - consumer
        - status
        - currency
        - spxy
        - marginRpxy
        - operations
        - billingConfigId
    SoftwareOneAgreementDetail:
      allOf:
        - $ref: "#/components/schemas/SoftwareOneAgreement"
        - type: object
          properties:
            startDate:
              type: string
              description: Agreement start date in YYYY-MM-DD format.
            endDate:
              type: string
              description: Agreement end date in YYYY-MM-DD format.
            billingCycle:
              type: string
              description: Billing cycle cadence, such as monthly or annual.
            paymentTerms:
              type: string
              description: Payment terms, such as Net 30.
            description:
              type: string
              description: Free-text agreement description.
            contactPerson:
              type: string
              description: Primary contact name for the agreement.
            contactEmail:
              type: string
              format: email
              description: Primary contact email address.
            licenseCount:
              type: integer
              description: Number of licenses covered by the agreement.
            pricePerLicense:
              type: number
              description: Price per license in the agreement currency.
    SoftwareOneStatement:
      type: object
      properties:
        id:
          type: string
          description: SoftwareOne statement identifier, such as stmt-001. This is an
            external SoftwareOne-style ID, not an Alga UUID.
        statementNumber:
          type: string
          description: Human-readable statement number, such as STMT-2024-001.
        period:
          type: string
          description: Billing period in YYYY-MM format.
        consumer:
          type: string
          description: End-customer organization name.
        consumerId:
          type: string
          description: SoftwareOne consumer identifier.
        agreementName:
          type: string
          description: Human-readable name of the associated agreement.
        agreementId:
          type: string
          description: SoftwareOne agreement identifier associated with this statement.
        totalAmount:
          type: number
          description: Total statement amount in the billing currency.
        currency:
          type: string
          description: Three-letter billing currency code, such as USD.
        lineItemCount:
          type: integer
          description: Number of line-item charges on the statement.
        status:
          type: string
          enum:
            - draft
            - finalized
            - imported
          description: Statement lifecycle status used by the MVP handler.
        dueDate:
          type: string
          description: Payment due date in YYYY-MM-DD format.
        createdAt:
          type: string
          description: ISO 8601 timestamp when the statement was created.
        importedAt:
          type:
            - string
            - "null"
          description: ISO 8601 timestamp when imported into Alga, or null if not imported.
        subtotal:
          type: number
          description: Statement subtotal before tax. Present on detail responses.
        taxAmount:
          type: number
          description: Statement tax amount. Present on detail responses.
        description:
          type: string
          description: Statement description. Present on detail responses.
        billingAddress:
          type: object
          properties:
            client:
              type: string
              description: Billing client organization name.
            street:
              type: string
              description: Street address.
            city:
              type: string
              description: City.
            state:
              type: string
              description: State or province.
            zipCode:
              type: string
              description: Postal or ZIP code.
            country:
              type: string
              description: Country.
          required:
            - client
            - street
            - city
            - state
            - zipCode
            - country
          description: Billing address. Present on detail responses.
      required:
        - id
        - statementNumber
        - period
        - consumer
        - consumerId
        - agreementName
        - agreementId
        - totalAmount
        - currency
        - lineItemCount
        - status
        - dueDate
        - createdAt
        - importedAt
    SoftwareOnePaginationMeta:
      type: object
      properties:
        total:
          type: integer
          description: Total records returned by the current dummy implementation.
        page:
          type: integer
          description: Current page number. Currently hardcoded to 1.
        pageSize:
          type: integer
          description: Page size. Currently hardcoded to 50.
      required:
        - total
        - page
        - pageSize
    SoftwareOneAgreementsListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          type: array
          items:
            $ref: "#/components/schemas/SoftwareOneAgreement"
          description: SoftwareOne agreement records.
        meta:
          $ref: "#/components/schemas/SoftwareOnePaginationMeta"
      required:
        - success
        - data
        - meta
    SoftwareOneAgreementDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          $ref: "#/components/schemas/SoftwareOneAgreementDetail"
      required:
        - success
        - data
    SoftwareOneStatementsListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          type: array
          items:
            $ref: "#/components/schemas/SoftwareOneStatement"
          description: SoftwareOne statement records.
        meta:
          $ref: "#/components/schemas/SoftwareOnePaginationMeta"
      required:
        - success
        - data
        - meta
    SoftwareOneStatementDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          $ref: "#/components/schemas/SoftwareOneStatement"
      required:
        - success
        - data
    SoftwareOneCharge:
      type: object
      properties:
        id:
          type: string
          description: SoftwareOne charge identifier, unique within the statement, such as
            1-1.
        statementId:
          type: string
          description: Parent SoftwareOne statement identifier, such as stmt-001.
        description:
          type: string
          description: Human-readable line item description.
        product:
          type: string
          description: Product or SKU for the charge.
        quantity:
          type: number
          description: Quantity billed for this line item.
        unitPrice:
          type: number
          description: Unit price in the statement currency.
        totalAmount:
          type: number
          description: Total line amount.
        agreementId:
          type: string
          description: Related SoftwareOne agreement identifier, such as agr-001.
        period:
          type: string
          description: Billing period in YYYY-MM format.
        category:
          type: string
          description: Charge category, such as Software License, Compute, Storage, or
            Support.
      required:
        - id
        - statementId
        - description
        - product
        - quantity
        - unitPrice
        - totalAmount
        - agreementId
        - period
        - category
    SoftwareOneChargesListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          type: array
          items:
            $ref: "#/components/schemas/SoftwareOneCharge"
          description: Charge line items for the requested statement. Unknown statement
            IDs return an empty array.
        meta:
          type: object
          properties:
            total:
              type: integer
              description: Number of charge records returned.
            statementId:
              type: string
              description: Statement ID from the path parameter.
          required:
            - total
            - statementId
      required:
        - success
        - data
        - meta
    SoftwareOneFullSyncResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Sync request completed successfully.
        message:
          type: string
          description: Human-readable sync result message.
        data:
          type: object
          properties:
            agreementsCount:
              type: integer
              description: Number of agreements synced. Zero when syncAgreements is false.
            statementsCount:
              type: integer
              description: Number of statements synced. Zero when syncStatements is false.
            syncedAt:
              type: string
              format: date-time
              description: ISO timestamp when the dummy sync completed.
          required:
            - agreementsCount
            - statementsCount
            - syncedAt
      required:
        - success
        - message
        - data
    ExtensionIdParams:
      type: object
      properties:
        extensionId:
          type: string
          description: Extension identifier from the URL. The MVP generic routes accept
            any value and echo it in response metadata.
      required:
        - extensionId
    ExtensionScopedIdParams:
      type: object
      properties:
        extensionId:
          type: string
          description: Extension identifier from the URL. The MVP generic routes accept
            any value and echo it in response metadata.
        id:
          type: string
          description: SoftwareOne-style external record identifier, such as agr-001 or
            stmt-001. This is not an Alga UUID.
      required:
        - extensionId
        - id
    GenericExtensionAgreementsListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          type: array
          items:
            $ref: "#/components/schemas/SoftwareOneAgreement"
          description: Agreement records returned by the generic extension MVP handler.
        meta:
          type: object
          properties:
            total:
              type: integer
              description: Number of agreements returned.
            extensionId:
              type: string
              description: Extension ID echoed from the path.
          required:
            - total
            - extensionId
      required:
        - success
        - data
        - meta
    GenericExtensionAgreementDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          $ref: "#/components/schemas/SoftwareOneAgreementDetail"
        meta:
          type: object
          properties:
            extensionId:
              type: string
              description: Extension ID echoed from the path.
          required:
            - extensionId
      required:
        - success
        - data
        - meta
    GenericExtensionStatementsListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          type: array
          items:
            $ref: "#/components/schemas/SoftwareOneStatement"
          description: Statement records returned by the generic extension MVP handler.
        meta:
          type: object
          properties:
            total:
              type: integer
              description: Number of statements returned.
            extensionId:
              type: string
              description: Extension ID echoed from the path.
          required:
            - total
            - extensionId
      required:
        - success
        - data
        - meta
    GenericExtensionStatementDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          $ref: "#/components/schemas/SoftwareOneStatement"
        meta:
          type: object
          properties:
            extensionId:
              type: string
              description: Extension ID echoed from the path.
          required:
            - extensionId
      required:
        - success
        - data
        - meta
    GenericExtensionChargesListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Request succeeded.
        data:
          type: array
          items:
            $ref: "#/components/schemas/SoftwareOneCharge"
          description: Charge line items. Unknown statement IDs return an empty array.
        meta:
          type: object
          properties:
            total:
              type: integer
              description: Number of charge records returned.
            statementId:
              type: string
              description: Statement ID from the path parameter.
            extensionId:
              type: string
              description: Extension ID echoed from the path.
          required:
            - total
            - statementId
            - extensionId
      required:
        - success
        - data
        - meta
    GenericExtensionSyncResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Sync request completed successfully.
        message:
          type: string
          description: Human-readable sync result message.
        data:
          type: object
          properties:
            agreementsCount:
              type: integer
              description: Number of agreements synced. Zero when syncAgreements is false.
            statementsCount:
              type: integer
              description: Number of statements synced. Zero when syncStatements is false.
            syncedAt:
              type: string
              format: date-time
              description: ISO timestamp when the dummy sync completed.
            extensionId:
              type: string
              description: Extension ID echoed from the path.
          required:
            - agreementsCount
            - statementsCount
            - syncedAt
            - extensionId
      required:
        - success
        - message
        - data
    SoftwareOneSyncResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Sync request completed successfully.
        message:
          type: string
          description: Human-readable sync result message.
        count:
          type: integer
          description: Number of dummy records included in the sync result.
      required:
        - success
        - message
        - count
    SoftwareOneSyncRequest:
      type: object
      properties:
        fullSync:
          type: boolean
          description: Optional future full-sync flag. Currently ignored by the MVP
            handlers.
        syncStatements:
          type: boolean
          description: Optional future statement sync flag. Currently ignored by the MVP
            handlers.
        syncAgreements:
          type: boolean
          description: Optional future agreement sync flag. Currently ignored by the MVP
            handlers.
      description: Sync options. The current SoftwareOne MVP handlers parse JSON but
        ignore all body fields.
    SoftwareOneErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - false
          description: Request failed.
        error:
          type: string
          description: Human-readable error message.
      required:
        - success
        - error
    SoftwareOneIdParams:
      type: object
      properties:
        id:
          type: string
          description: SoftwareOne external identifier, such as agr-001 or stmt-001. This
            is not an Alga UUID.
      required:
        - id
    StoragePutRequest:
      type: object
      properties:
        value: {}
        metadata:
          type: object
          additionalProperties: {}
        ttlSeconds:
          type: integer
          exclusiveMinimum: 0
        ifRevision:
          type: integer
          minimum: 0
        schemaVersion:
          type: integer
          exclusiveMinimum: 0
    StoragePutResponse:
      type: object
      properties:
        namespace:
          type: string
        key:
          type: string
        revision:
          type: integer
          exclusiveMinimum: 0
        ttlExpiresAt:
          type:
            - string
            - "null"
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - namespace
        - key
        - revision
        - ttlExpiresAt
        - createdAt
        - updatedAt
    StorageGetResponse:
      type: object
      properties:
        namespace:
          type: string
        key:
          type: string
        revision:
          type: integer
          exclusiveMinimum: 0
        value: {}
        metadata:
          type: object
          additionalProperties: {}
        ttlExpiresAt:
          type:
            - string
            - "null"
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - namespace
        - key
        - revision
        - metadata
        - ttlExpiresAt
        - createdAt
        - updatedAt
    StorageListQuery:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
        cursor:
          type: string
        keyPrefix:
          type: string
          maxLength: 256
        includeValues:
          type: boolean
        includeMetadata:
          type: boolean
    StorageListItem:
      type: object
      properties:
        namespace:
          type: string
        key:
          type: string
        revision:
          type: integer
          exclusiveMinimum: 0
        value: {}
        metadata:
          type: object
          additionalProperties: {}
        ttlExpiresAt:
          type:
            - string
            - "null"
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - namespace
        - key
        - revision
        - ttlExpiresAt
        - createdAt
        - updatedAt
    StorageListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/StorageListItem"
        nextCursor:
          type:
            - string
            - "null"
      required:
        - items
        - nextCursor
    StorageBulkPutRequest:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                maxLength: 256
              value: {}
              metadata:
                type: object
                additionalProperties: {}
              ttlSeconds:
                type: integer
                exclusiveMinimum: 0
              ifRevision:
                type: integer
                minimum: 0
              schemaVersion:
                type: integer
                exclusiveMinimum: 0
            required:
              - key
          minItems: 1
      required:
        - items
    StorageBulkPutResponse:
      type: object
      properties:
        namespace:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              revision:
                type: integer
                exclusiveMinimum: 0
              ttlExpiresAt:
                type:
                  - string
                  - "null"
                format: date-time
            required:
              - key
              - revision
              - ttlExpiresAt
      required:
        - namespace
        - items
    StorageNamespaceParams:
      type: object
      properties:
        namespace:
          type: string
          minLength: 1
          maxLength: 128
      required:
        - namespace
    StorageNamespaceKeyParams:
      allOf:
        - $ref: "#/components/schemas/StorageNamespaceParams"
        - type: object
          properties:
            key:
              type: string
              minLength: 1
              maxLength: 256
          required:
            - key
    StorageIfRevisionHeader:
      type: object
      properties:
        if-revision-match:
          type: string
    StorageDeleteQuery:
      type: object
      properties:
        ifRevision:
          type:
            - integer
            - "null"
          minimum: 0
  parameters: {}
paths:
  /api/auth/google/callback:
    get:
      summary: Handle Google OAuth callback
      description: Browser popup callback for the Gmail email-provider OAuth flow.
        Google redirects here with an authorization code and state. The handler
        decodes the state to find the tenant and email provider, exchanges the
        code for Google access and refresh tokens, stores them on the provider
        configuration, marks the provider connected, and may provision Gmail
        watch/Pub/Sub resources. This endpoint is public and protected by the
        OAuth state parameter; it always responds with text/html that posts the
        success or error payload to the opener window rather than returning
        JSON.
      tags:
        - Auth
      security: []
      parameters:
        - schema:
            type: string
            description: OAuth 2.0 authorization code. Required unless the provider returned
              error.
          required: false
          description: OAuth 2.0 authorization code. Required unless the provider returned
            error.
          name: code
          in: query
        - schema:
            type: string
            description: Base64-encoded JSON state object generated when the OAuth flow was
              initiated. It carries tenant context, providerId, redirectUri,
              timestamp, and nonce values used to complete the callback.
          required: false
          description: Base64-encoded JSON state object generated when the OAuth flow was
            initiated. It carries tenant context, providerId, redirectUri,
            timestamp, and nonce values used to complete the callback.
          name: state
          in: query
        - schema:
            type: string
            description: OAuth error code returned by the provider, such as access_denied.
          required: false
          description: OAuth error code returned by the provider, such as access_denied.
          name: error
          in: query
        - schema:
            type: string
            description: Human-readable OAuth error description returned by the provider.
          required: false
          description: Human-readable OAuth error description returned by the provider.
          name: error_description
          in: query
      responses:
        "200":
          description: HTML popup callback page. The embedded postMessage payload reports
            success, provider=google, token expiry, and echoed code/state, or an
            OAuth/configuration/token-exchange error.
          content:
            text/html:
              schema:
                $ref: "#/components/schemas/OAuthCallbackHtmlResponse"
  /api/auth/microsoft/callback:
    get:
      summary: Handle Microsoft OAuth callback
      description: Browser popup callback for the Microsoft Graph email-provider OAuth
        flow. Microsoft redirects here with an authorization code and state. The
        handler decodes tenant/provider context from state, resolves the tenant
        Microsoft profile credentials, exchanges the code for Microsoft Graph
        tokens, stores them on the email provider, marks the provider connected,
        and best-effort registers a Graph webhook subscription. This endpoint is
        public and protected by the OAuth state parameter; it always responds
        with text/html that posts the success or error payload to the opener
        window rather than returning JSON.
      tags:
        - Auth
      security: []
      parameters:
        - schema:
            type: string
            description: OAuth 2.0 authorization code. Required unless the provider returned
              error.
          required: false
          description: OAuth 2.0 authorization code. Required unless the provider returned
            error.
          name: code
          in: query
        - schema:
            type: string
            description: Base64-encoded JSON state object generated when the OAuth flow was
              initiated. It carries tenant context, providerId, redirectUri,
              timestamp, and nonce values used to complete the callback.
          required: false
          description: Base64-encoded JSON state object generated when the OAuth flow was
            initiated. It carries tenant context, providerId, redirectUri,
            timestamp, and nonce values used to complete the callback.
          name: state
          in: query
        - schema:
            type: string
            description: OAuth error code returned by the provider, such as access_denied.
          required: false
          description: OAuth error code returned by the provider, such as access_denied.
          name: error
          in: query
        - schema:
            type: string
            description: Human-readable OAuth error description returned by the provider.
          required: false
          description: Human-readable OAuth error description returned by the provider.
          name: error_description
          in: query
      responses:
        "200":
          description: HTML popup callback page. The embedded postMessage payload reports
            success, provider=microsoft, token expiry, and echoed code/state, or
            an OAuth/configuration/token-exchange error.
          content:
            text/html:
              schema:
                $ref: "#/components/schemas/OAuthCallbackHtmlResponse"
  /api/auth/{nextauth}:
    get:
      summary: Handle NextAuth GET action
      description: "Catch-all Auth.js/NextAuth GET endpoint. The nextauth path segment
        selects the action: csrf returns a CSRF token and sets the CSRF cookie,
        providers returns configured provider metadata, session returns the
        current session or {}, signin/signout/error/verify-request render or
        redirect to configured pages, and callback/{provider} handles OAuth
        provider redirects. This route is the authentication surface itself and
        does not require API-key authentication."
      tags:
        - Auth
      security: []
      parameters:
        - schema:
            type: string
            description: NextAuth catch-all action path. Common values include csrf,
              providers, signin, signout, session, error, verify-request,
              webauthn-options, callback/credentials, callback/google,
              callback/azure-ad, and callback/keycloak.
          required: true
          description: NextAuth catch-all action path. Common values include csrf,
            providers, signin, signout, session, error, verify-request,
            webauthn-options, callback/credentials, callback/google,
            callback/azure-ad, and callback/keycloak.
          name: nextauth
          in: path
        - schema:
            type: string
            description: Optional URL to redirect to after sign-in or sign-out flows.
          required: false
          description: Optional URL to redirect to after sign-in or sign-out flows.
          name: callbackUrl
          in: query
        - schema:
            type: string
            description: Optional NextAuth/OAuth error code shown by sign-in or error pages.
          required: false
          description: Optional NextAuth/OAuth error code shown by sign-in or error pages.
          name: error
          in: query
        - schema:
            type: string
            description: OAuth authorization code for provider callback sub-routes.
          required: false
          description: OAuth authorization code for provider callback sub-routes.
          name: code
          in: query
        - schema:
            type: string
            description: OAuth state value for provider callback sub-routes.
          required: false
          description: OAuth state value for provider callback sub-routes.
          name: state
          in: query
        - schema:
            type: string
            description: Human-readable provider error description for OAuth callback
              sub-routes.
          required: false
          description: Human-readable provider error description for OAuth callback
            sub-routes.
          name: error_description
          in: query
      responses:
        "200":
          description: Successful JSON or HTML response for the selected NextAuth action.
            Examples include { csrfToken }, provider maps, session objects, {},
            or built-in HTML pages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NextAuthGetResponse"
        "302":
          description: Redirect to the configured sign-in, sign-out, callback, or error
            destination.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectResponse"
        "404":
          description: No content when a built-in action is unavailable or disabled.
    post:
      summary: Handle NextAuth POST action
      description: "Catch-all Auth.js/NextAuth POST endpoint. The nextauth path
        segment selects the action: callback/credentials authenticates email and
        password credentials, callback/{provider} handles OAuth callback form
        posts, signout clears the current session, session returns or updates
        session data, and csrf returns a CSRF token. Mutating actions require
        the csrfToken body field matching the Auth.js CSRF cookie. Credential
        success sets the encrypted Auth.js session cookie and redirects;
        failures typically redirect to /auth/signin with an error code."
      tags:
        - Auth
      security: []
      parameters:
        - schema:
            type: string
            description: NextAuth catch-all action path. Common values include csrf,
              providers, signin, signout, session, error, verify-request,
              webauthn-options, callback/credentials, callback/google,
              callback/azure-ad, and callback/keycloak.
          required: true
          description: NextAuth catch-all action path. Common values include csrf,
            providers, signin, signout, session, error, verify-request,
            webauthn-options, callback/credentials, callback/google,
            callback/azure-ad, and callback/keycloak.
[...]
