openapi: 3.1.0
info:
  title: Alga PSA API
  version: 0.1.0
  description: OpenAPI specification generated from registered route metadata.
servers:
  - url: https://algapsa.com
    description: Production
  - url: http://localhost:3000
    description: Local development
tags:
  - name: Service Categories
  - name: admin
  - name: assets
  - name: auth
  - name: automation
  - name: billing
  - name: billing-analytics
  - name: contract-lines
  - name: categories
  - name: chat
  - name: companies
  - name: client-contract-lines
  - name: companies
  - name: client-contract-lines
  - name: contacts
  - name: documents
  - name: email
  - name: ext
  - name: extensions
  - name: feature-access
  - name: feature-flags
  - name: files
  - name: financial
  - name: health
  - name: healthz
  - name: installs
  - name: integrations
  - name: invoices
  - name: meta
  - name: permission-checks
  - name: permissions
  - name: contracts
  - name: contract-line-templates
  - name: projects
  - name: quickbooks
  - name: rbac
  - name: readyz
  - name: roles
  - name: schedules
  - name: tags
  - name: teams
  - name: test-auth
  - name: tickets
  - name: time-entries
  - name: time-periods
  - name: time-sheets
  - name: user
  - name: user-roles
  - name: users
  - name: webhooks
  - name: workflows
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
          required:
            - code
            - message
      required:
        - error
    PlaceholderObject:
      type: object
      properties: {}
    ServiceCategory:
      type: object
      properties:
        tenant:
          type: string
          format: uuid
        category_id:
          type: string
          format: uuid
        category_name:
          type: string
        description:
          type:
            - string
            - "null"
        display_order:
          type: integer
          default: 0
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        updated_by:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string
      required:
        - tenant
        - category_id
        - category_name
        - is_active
        - created_at
        - updated_at
        - created_by
        - updated_by
      description: Service category resource.
    ServiceCategoryCreateRequest:
      type: object
      properties:
        category_name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        is_active:
          type: boolean
      required:
        - category_name
      description: Payload for creating a service category.
    ServiceCategoryListQuery:
      type: object
      properties:
        search:
          type: string
        is_active:
          type: boolean
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
      description: Query parameters for listing service categories.
    PaginatedServiceCategoryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ServiceCategory"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasNext
            - hasPrev
        meta:
          type: object
          additionalProperties: {}
      required:
        - data
        - pagination
  parameters: {}
paths:
  /api/v1/categories/service:
    get:
      summary: List service categories
      description: Returns a paginated list of service categories within the current tenant.
      tags:
        - Service Categories
      security:
        - ApiKeyAuth: []
      extensions:
        x-tenant-header-required: true
        x-rbac-resource: service-category
      parameters:
        - schema:
            type: string
          required: false
          name: search
          in: query
        - schema:
            type: boolean
          required: false
          name: is_active
          in: query
        - schema:
            type: integer
            minimum: 1
          required: false
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: A paginated list of service categories.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedServiceCategoryResponse"
        "401":
          description: Authentication failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated user lacks the required permission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create service category
      description: Creates a new service category for the tenant. Requires the billing
        settings create permission.
      tags:
        - Service Categories
      security:
        - ApiKeyAuth: []
      extensions:
        x-tenant-header-required: true
        x-rbac-resource: service-category
      requestBody:
        description: Service category payload
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceCategoryCreateRequest"
            description: Service category payload
      responses:
        "201":
          description: Service category created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ServiceCategory"
                required:
                  - data
        "400":
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Authentication failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated user lacks the required permission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/auth/google/callback:
    get:
      summary: GET auth
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - auth
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/auth/microsoft/callback:
    get:
      summary: GET auth
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - auth
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/auth/session:
    get:
      summary: GET auth
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - auth
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/auth/validate-api-key:
    post:
      summary: POST auth
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - auth
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/auth/validate-token:
    post:
      summary: POST auth
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - auth
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/auth/{nextauth}:
    get:
      summary: GET auth
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - auth
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST auth
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - auth
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/billing/licence-count:
    get:
      summary: GET billing
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - billing
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST billing
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - billing
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/chat/stream/title:
    post:
      summary: POST chat
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - chat
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/chat/stream/{slug}:
    get:
      summary: GET chat
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - chat
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST chat
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - chat
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/documents/download/{fileId}:
    get:
      summary: GET documents
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - documents
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/documents/view/{fileId}:
    get:
      summary: GET documents
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - documents
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/documents/{documentId}/download:
    get:
      summary: GET documents
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - documents
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/email/oauth/initiate:
    post:
      summary: POST email
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - email
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/email/refresh-watch:
    post:
      summary: POST email
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - email
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/email/webhooks/google:
    options:
      summary: OPTIONS email
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - email
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST email
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - email
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/email/webhooks/microsoft:
    get:
      summary: GET email
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - email
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    options:
      summary: OPTIONS email
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - email
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST email
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - email
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/email/webhooks/test:
    post:
      summary: POST email
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - email
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/ext/{extensionId}/{path}:
    delete:
      summary: DELETE ext
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - ext
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "204":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: GET ext
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - ext
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: PATCH ext
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - ext
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST ext
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - ext
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: PUT ext
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - ext
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/softwareone/agreements:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/softwareone/agreements/{id}:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/softwareone/statements:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/softwareone/statements/{id}:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/softwareone/statements/{id}/charges:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/softwareone/sync:
    post:
      summary: POST extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/{extensionId}/agreements:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/{extensionId}/agreements/{id}:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/{extensionId}/statements:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/{extensionId}/statements/{id}:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/{extensionId}/statements/{id}/charges:
    get:
      summary: GET extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/extensions/{extensionId}/sync:
    post:
      summary: POST extensions
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - extensions
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/files/{fileId}/download:
    get:
      summary: GET files
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - files
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/health:
    get:
      summary: GET health
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - health
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/healthz:
    get:
      summary: GET healthz
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - healthz
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/installs/lookup-by-host:
    get:
      summary: GET installs
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - installs
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/installs/validate:
    get:
      summary: GET installs
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - installs
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/integrations/qbo/callback:
    get:
      summary: GET integrations
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - integrations
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/integrations/qbo/connect:
    get:
      summary: GET integrations
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - integrations
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/integrations/qbo/status:
    get:
      summary: GET integrations
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - integrations
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/readyz:
    get:
      summary: GET readyz
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - readyz
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/admin/telemetry-settings:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - admin
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - admin
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/bulk-status:
    put:
      summary: PUT v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/bulk-update:
    put:
      summary: PUT v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/documents/{associationId}:
    delete:
      summary: DELETE v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "204":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/export:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/maintenance/{scheduleId}:
    delete:
      summary: DELETE v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "204":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: PUT v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/relationships/{relationshipId}:
    delete:
      summary: DELETE v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "204":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/search:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/stats:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/{id}:
    delete:
      summary: DELETE v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "204":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: PUT v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/{id}/documents:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/{id}/history:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/{id}/maintenance:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/{id}/maintenance/record:
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/assets/{id}/relationships:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - assets
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/executions:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/executions/{id}:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/executions/{id}/retry:
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/meta:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/performance:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/rules:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/rules/bulk-execute:
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/rules/bulk-status:
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/rules/{id}:
    delete:
      summary: DELETE v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "204":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: PUT v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/rules/{id}/execute:
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
      responses:
        "201":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/statistics:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/automation/templates:
    get:
      summary: GET v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      responses:
        "200":
          description: Placeholder success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceholderObject"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: POST v1
      description: This operation was generated automatically from the route
        inventory. Replace with canonical OpenAPI metadata.
      tags:
        - automation
      extensions:
        x-generated-from: docs/openapi/route-inventory.json
        x-placeholder: true
      requestBody:
        description: Placeholder request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceholderObject"
            description: Placeholder request body
[...]
