# Force sharp to rebuild for the target platform
sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download/

# Ensure devDependencies install even if the developer shell has NODE_ENV=production
include=dev
