apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "sebastian.fullname" . }}-secrets"
  namespace: {{ include "sebastian.namespace" . }}
  labels:
    {{- include "sebastian.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
type: Opaque
data:
  {{- if .Values.secrets }}
  {{- if .Values.secrets.NEXTAUTH_SECRET }}
  NEXTAUTH_SECRET: {{ .Values.secrets.NEXTAUTH_SECRET | b64enc | quote }}
  {{- else }}
  NEXTAUTH_SECRET: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.CRYPTR_KEY }}
  CRYPTR_KEY: {{ .Values.secrets.CRYPTR_KEY | b64enc | quote }}
  {{- else }}
  CRYPTR_KEY: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.TOKEN_SECRET_KEY }}
  TOKEN_SECRET_KEY: {{ .Values.secrets.TOKEN_SECRET_KEY | b64enc | quote }}
  {{- else }}
  TOKEN_SECRET_KEY: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.stripe_secret_key }}
  stripe_secret_key: {{ .Values.secrets.stripe_secret_key | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.stripe_publishable_key }}
  stripe_publishable_key: {{ .Values.secrets.stripe_publishable_key | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.stripe_webhook_secret }}
  stripe_webhook_secret: {{ .Values.secrets.stripe_webhook_secret | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.IPINFO_API_TOKEN }}
  IPINFO_API_TOKEN: {{ .Values.secrets.IPINFO_API_TOKEN | b64enc | quote }}
  {{- end }}
  {{- else }}
  NEXTAUTH_SECRET: {{ randAlphaNum 32 | b64enc | quote }}
  CRYPTR_KEY: {{ randAlphaNum 32 | b64enc | quote }}
  TOKEN_SECRET_KEY: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
