:root {
  --alga-bg: #ffffff;
  --alga-fg: #0f172a;
  --alga-muted: #f8fafc;
  --alga-muted-fg: #64748b;
  --alga-primary: #8a4dea;
  --alga-primary-foreground: #f6f0fe;
  --alga-primary-light: #dcc5fb;
  --alga-primary-dark: #7c45d3;
  --alga-primary-50: #f6f0fe;
  --alga-primary-100: #ede2fd;
  --alga-secondary: #40cff9;
  --alga-secondary-foreground: #ecfcfe;
  --alga-secondary-light: #66dffb;
  --alga-border: #e2e8f0;
  --alga-border-light: #f1f5f9;
  --alga-ring: 0 0% 0%;
  --alga-radius: 8px;
  --alga-accent: #ff9c30;
  --alga-accent-foreground: #fff6e6;
  --alga-primary-soft: #f6f0fe;
  --alga-primary-soft-fg: #6e3dbb;
  --alga-primary-soft-hover: #ede2fd;
  --alga-primary-border: #caa8f9;
  --alga-danger: #ef4444;
  --alga-danger-dark: #dc2626;
  --alga-warning: #f59e0b;
  --alga-success: #22c55e;
  --alga-card-bg: #ffffff;
  --alga-row-even: #f8fafc;
  --alga-row-odd: #ffffff;
  --alga-row-hover: #f6f0fe;
}

:root[data-theme="dark"] {
  --alga-bg: #000000;
  --alga-fg: #f8fafc;
  --alga-muted: #0f172a;
  --alga-muted-fg: #94a3b8;
  --alga-primary: #9855ee;
  --alga-primary-foreground: #522e8c;
  --alga-primary-light: #6e3dbb;
  --alga-primary-dark: #a673f2;
  --alga-primary-50: #522e8c;
  --alga-primary-100: #6036a4;
  --alga-secondary: #53d7fa;
  --alga-secondary-foreground: #267c95;
  --alga-secondary-light: #40cff9;
  --alga-border: #334155;
  --alga-border-light: #1e293b;
  --alga-ring: 0 0% 0%;
  --alga-radius: 8px;
  --alga-accent: #ffa645;
  --alga-accent-foreground: #2d1e0c;
  --alga-primary-soft: #522e8c;
  --alga-primary-soft-fg: #b891f5;
  --alga-primary-soft-hover: #6036a4;
  --alga-primary-border: #7c45d3;
  --alga-danger: #f87171;
  --alga-danger-dark: #ef4444;
  --alga-warning: #fbbf24;
  --alga-success: #4ade80;
  --alga-card-bg: #161c30;
  --alga-row-even: #0f172a;
  --alga-row-odd: #000000;
  --alga-row-hover: #522e8c;
}
