{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "imap-service.fullname" . }}
  namespace: {{ include "imap-service.namespace" . }}
  labels:
    {{- include "imap-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: imap-service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "imap-service.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: imap-service
{{- end }}

