.editorContainer :global(.ProseMirror) p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: rgb(var(--color-text-400));
  pointer-events: none;
  height: 0;
}

.editorContainer :global(.ProseMirror) a {
  color: rgb(var(--badge-info-text));
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgb(var(--badge-info-text) / 0.4);
  text-underline-offset: 2px;
  cursor: pointer;
}

.editorContainer :global(.ProseMirror) a:hover {
  text-decoration-color: rgb(var(--badge-info-text));
}
